{include file="public/header" /}
<link rel="stylesheet" href="/static/wapapp/shop/css/index.css">
    <style>
        .introduce{
            padding: 20px;
        }
    </style>
</head>
<body>
    <header id="header" class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">注意事项</h1>
    </header>
    <div class="mui-content">
        <div class="introduce">
            <p>1、本专栏0羊币/年，订阅成功后即可阅读一年本专栏出品所有内容；</p>
            <p> 2、专栏一经订阅成功，概不退款，请您谅解</p>
        </div>
    </div>
</body>
{include file="public/footer" /}
</html>
