{include file="public/header" /}
	<meta name="keywords" content="奔跑吧小羊是干什么的,奔跑吧小羊项目介绍,奔跑吧小羊联系方式,奔跑吧小羊地址,奔跑吧小羊的运作模式" />
	<meta name="description" content="奔跑吧小羊是结合内蒙古牧区特色资源型产业打造品牌建设、行业集聚、农牧产品流通为一体的服务型平台，关于奔跑吧小羊品牌的更多介绍请点击这里。" />
  <title>品牌介绍-奔跑吧小羊</title>
</head>
  <body>
    <header>
      <div class="container" style="position: relative;">
        <div class="navbar-brand"><a href="#">
          <!-- <img src="/static/index/picture/logo_head.png"></img> -->
        </a></div>
        <div class="yy-logo"><a href="index.html">
          <!-- <img src="/static/index/picture/logo_head.png"></img> -->
        </a></div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item ">
                <a class="nav-link" href="index.html"><span>首页</span></a> 
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="about.html"><span>关于我们</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="help.html"><span>帮助中心</span></a>
              </li>
            </ul>
            <div class="mobile"><a href="mobile.html" style="color: #333"><span>访问移动端</span></a></div>
          </div>
        </nav>
      </div>
    </header>
    <main role="main">
      <!-- 轮播 -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- 指示器 -->
   <!--      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->
        <!-- 图片轮播 -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="/static/index/picture/banner_1.jpg" alt="First slide">
          </div>
        </div>
     <!--    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>
      <!-- 轮播结束 -->
      <!-- 了解我们开始-->
      <div class="understand">
        <div class="container content">
          <div class="words">
            <h1>关于我们</h1>
            <div class="about_video">
              <video src="/static/index/picture/video.mp4" width="100%;" controls="controls" autoplay="autoplay"></video>
            </div>
            <p class="explain">郑州罗布羊科技有限公司成立于2018年，总部位于河南自贸试验区郑州片区(郑东)中兴南路与福禄路交叉口连邦大厦，注册资本500万元，现有员工23人，管理层四人，员工19人，共计本科17人，大专6人。公司精心打造的生态型互联网＋牧业养殖平台——奔跑吧小羊，以互联网+实体牧场+电子商务发展模式，将互联网、物联网、大数据等新一代信息技术和设备与传统牧业养殖相结合，打通融资、生产、管理、加工、销售、溯源等环节，构建了完整的生态养殖产业链闭环，帮助养殖企业、合作社以及个体牧民扩大养殖模式、实现轻资产运营、创业创收。</p>
            <p>公司地址：河南自贸试验区郑州片区(郑东)中兴南路与福禄路交叉口连邦大厦1203号</p>
            <p>联系电话：0991-5301929  15389915599</p>
            <p>QQ:262386640&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微信号：xiangzi-888888</p>
          </div>  
        </div>
      </div>
      <!-- 了解我们结束 -->
      </div><!-- /.container -->
      <!-- FOOTER -->
      {include file="public/foot_low" /}
    </main>
    {include file="public/footer" /}
  </body>
</html>
