{include file="public/header" /}
    <meta name="keywords" content="奔跑吧小羊使用帮助,奔跑吧小羊用户服务,奔跑吧小羊帮助中心,奔跑吧小羊使用说明" />
    <meta name="description" content="关于奔跑吧小羊使用问题整理，奔跑吧小羊帮助问题请点击这里查看说明。奔跑吧小羊-农牧区全产业链众筹平台，众筹养羊获回报。" />
    <title>用户帮助中心-奔跑吧小羊</title>
    <style>
      @media only screen and (max-width: 576px){
        .detail6 p img{
            width:100%!important;
        }
        .detail6 p{
          text-align: center;
        }
      }
      .detail6 p{
        text-align: center;
      }
      .detail6 p img{
        width:50%;
      }
    </style>
</head>
  <body>
    <header>
      <div class="container" style="position: relative;">
        <div class="navbar-brand"><a href="index.html">
          <!-- <img src="/static/index/picture/logo_head.png"></img> -->
        </a></div>
        <div class="yy-logo"><a href="index.html">
          <!-- <img src="/static/index/picture/logo_head.png"></img> -->
        </a></div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html"><span>首页</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html"><span>关于我们</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="help.html"><span>帮助中心</span></a>
              </li>
            </ul>
            <div class="mobile"><a href="mobile.html" style="color: #333"><span>访问移动端</span></a></div>
          </div>
        </nav>
      </div>
    </header>
    <main role="main">
      <!-- <div class="bg3"></div> -->
      <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="/static/index/picture/banner_1.jpg" alt="First slide">
          </div>
        </div>
      <div class="help-content">
        <div class="container">
          <div class="help-sub">
            <div class="help-title">
              <div class="help-name"><p>帮助中心</p></div>
              <ul>
                <!-- <li class="active" value='1'><a href="javascript:;">项目概况</a></li>
                <li value="2" value='1'><a href="javascript:;">社会责任</a></li>
                <li value="3"><a href="javascript:;">平台用户服务及注册协议</a></li>
                <li value='4'><a href="javascript:;">平台隐私规则</a></li>
                <li value='5'><a href="javascript:;">用户支付协议</a></li> -->
                <li value='7' class="active"><a href="javascript:;">认养协议</a></li>
                <li value='6'><a href="javascript:;">项目投资流程</a></li>
              </ul>
            </div>
            <div class="help-word">
              <!--   <div class="help-detail detail1">
                  <h2>项目概况</h2>
                  <p class="small-title">名称:</p>
                  <p>互联网+生态羊养殖示范项目</p>
                  <p class="small-title">运营模式:</p>
                  <p>“购代养·委托管理” APP众筹认养生态羊</p>
                  <p class="small-title">运营方法:</p>
                  <p>结合郑州罗布羊科技有限公司已有的运营方案实施</p>
                  <p class="small-title">目的:</p>
                  <p>互联网+APP生态养殖示范项目，同时让大家吃上放心的有机农产品，结交一群志同道合的朋友，资源共享合作共赢！</p>
                  <p class="small-title">愿景:</p>
                  <p>将有机食品的源头及生产过程真实的展现在每一个会员手机里，实现每个人都能放心的吃上真正的有机畜产品，然后建立地市级的APP生态养殖网络，惠及更多的人。</p>
                </div>
                <div class="help-detail detail2">
                  <h2>社会责任</h2>
                  <p>取之于民用之于民，我们的畜产品来自美丽的新疆大草原，我们也将为天山南北的畜牧人做出我们应有的贡献，所以公益事业必然成为我们后续提升品牌价值的必然之路。我们将做成公益事业的平台，发掘需要帮助的人，为希望从事公益活动的人提供平台与机会。后期，我们也会成立公益基金会，以一定的收益划入公益基金会，提倡真正的爱心公益活动，提倡股东们亲自参与到具体的公益活动中去。</p>
                </div>
                <div class="help-detail detail3">
                  
                    <h2>奔跑吧小羊平台用户服务及注册协议</h2>
                    <p class="small-title">一、总则</p>
                    <p>1.1用户在使用奔跑吧小羊平台服务前，已仔细阅读《奔跑吧小羊平台用户服务及注册协议》（以下简称“本协议”）的全部内容，对于本协议中的加重字体条款已重点阅读、理解。 本协议中，被许可使用奔跑吧小羊平台服务的用户均简称为“用户”。</p>
                    <p>1.2用户同意本协议的全部条款并按照页面上的提示完成全部的注册登录程序。用户完成注册登录程序后，即表示用户与奔跑吧小羊平台达成以下协议，完全接受本协议项下的全部条款，本协议即在用户与奔跑吧小羊平台之间产生法律效力，对双方均具有法律约束力。 </p>
                    <p>1.3 用户注册登录成功后，将获得自行注册登录的用户账号和自行设定的密码在奔跑吧小羊平台的使用权限，该用户帐号和密码由用户负责保管；用户对以其用户帐号进行的所有活动和事件负法律责任。</p>
                    <p>1.4 在本协议有效期内，奔跑吧小羊平台有权随时修改本协议条款和条件，并只需公示于其网站，而无需征得用户的事先同意。修改后的条款和条件应于公示后即时生效。在奔跑吧小羊平台修改服务条款和条件后，如用户继续使用服务将被视作用户已接受了修改后的条款和条件。用户在使用奔跑吧小羊平台提供的各项服务之前，应仔细阅读本协议及本协议不可分割的各项内容。用户在使用相关服务时,应关注并遵守其所适用的相关条款。用户如不同意本服务协议及/或对其的修改，可以主动取消或停止使用奔跑吧小羊平台提供的服务；用户一旦使用奔跑吧小羊平台服务，即视为用户已了解并完全同意本协议及其他服务条款中的各项内容，包括奔跑吧小羊平台对本协议及其他服务条款所做的任何修改协议及/或协议的修改将在用户与奔跑吧小羊平台之间产生法律效力。</p>
                    <p>1.5 除非得到奔跑吧小羊平台的书面授权，任何人将不得修改本协议。</p>
                    <p>1.6 奔跑吧小羊平台提供的网络服务的所有权和最终解释权归内蒙古蒙蓝科技有限公司所有。</p>
                    <p class="small-title">二、相关定义</p>
                    <p>2.1奔跑吧小羊平台：指内蒙古蒙蓝科技有限公司运营和所有的综合性信息网络服务平台（包括域名为：www.stdeye.com的网页端、移动端及手机APP）。内蒙古蒙蓝科技有限公司通过奔跑吧小羊平台向用户提供相关互联网端及移动端交易信息服务。</p>
                    <p>2.2用户：指通过奔跑吧小羊平台实名认证，接受奔跑吧小羊服务的个人或单位，包括发起人和投资人（支持者）。 </p>
                    <p>2.3发起人（项目方）：指通过奔跑吧小羊平台实名认证的且通过奔跑吧小羊平台发起项目、发布项目信息的个人或单位。发起人应履行奔跑吧小羊平台中的相关义务。</p>
                    <p>2.4项目：由发起人通过奔跑吧小羊平台展示的待支持项目。 </p>
                    <p>2.5投资人（支持者）：指经奔跑吧小羊平台实名认证满足奔跑吧小羊平台认定的合格投资人资格并付费[已支付订金]支持某一特定项目的个人或单位。 </p>
                    <p>2.6奔跑吧小羊平台规则：指在奔跑吧小羊平台上发布的规范性文件，包括但不限于本协议等已经生效或者即将生效的规则。</p>
                    <p class="small-title">三、服务内容</p>
                    <p>3.1 在用户同意遵守本协议条款前提下，用户有权在奔跑吧小羊平台网站指定位置上发布符合中华人民共和国各项法律法规及规范性文件以及奔跑吧小羊平台网站服务条款要求的信息。</p>
                    <p>3.2 奔跑吧小羊平台向用户提供的服务包括但不限于：提供发布和浏览融资项目资料、图片、视频的平台服务，允许用户对项目进行留言互动、线上支付等，奔跑吧小羊有权对提供的服务或产品形态进行升级或调整。</p>
                    <p>3.3 用户知晓并理解：奔跑吧小羊作为互联网众筹平台仅提供相关技术服务，除此以外与相关网络服务有关的设备及所需费用，均由用户自行承担。</p>
                    <p>3.4 用户有权浏览奔跑吧小羊平台发布的众筹项目详情中的融资信息，并在遵守本协议及《奔跑吧小羊平台隐私规则》等相关协议的前提下与在奔跑吧小羊平台上发布的项目详情中的相关的融资方达成最终交易。</p>
                    <p>3.5 用户可根据本协议及奔跑吧小羊平台公布的相关使用规则，查阅在奔跑吧小羊平台由项目方发布的项目信息，通过奔跑吧小羊平台订购具体项目，发布项目评价信息，邀请关注好友，参加奔跑吧小羊平台不定期组织的有关活动，及奔跑吧小羊平台现有及将来可能提供的其他服务。 </p>
                    <p>3.6 奔跑吧小羊平台为用户和项目方达成交易提供第三方交易平台服务，奔跑吧小羊平台并非项目方和用户之间购买项目或服务交易的相对方。是否与项目方达成交易完全取决于用户的选择，奔跑吧小羊平台仅为用户和项目方达成交易提供居间服务，并不对项目方的项目或服务进行任何形式的担保。用户所购项目或服务的实际提供方为奔跑吧小羊平台交易页面公示的经营者，用户购买服务项目后若出现消费纠纷，应第一时间联系项目方解决，若需奔跑吧小羊平台提供帮助的，可以联系奔跑吧小羊平台予以协助，同时，用户应知悉，除法律规定应由奔跑吧小羊平台承担的责任外，奔跑吧小羊平台不对项目方本身的经营行为承担法律责任。</p>
                    <p class="small-title">四、用户权利义务</p>
                    <p>4.1 用户有权在奔跑吧小羊平台网站指定位置上公开发布符合中华人民共和国各项法律法规及规范性文件以及奔跑吧小羊平台网站服务条款要求的信息，并依据本平台服务规则享受奔跑吧小羊平台提供的各项服务。</p>
                    <p>4.2 用户有义务在使用过程中，遵循以下原则：</p>
                    <p>4.2.1 其发布的信息遵守法律、法规及奔跑吧小羊平台网站的相关服务规则，并及时对已发布的信息进行维护和管理。</p>
                    <p>4.2.2 遵守所有与网络服务、奔跑吧小羊服务有关的网络协议、其他协议和程序。</p>
                    <p>4.2.3 不得为任何非法目的而使用奔跑吧小羊服务。</p>
                    <p>4.2.4 不得利用奔跑吧小羊服务系统进行任何可能对互联网和移动互联网正常运转造成不利影响的行为。</p>
                    <p>4.2.5 不得利用奔跑吧小羊平台发布或传播任何虚假的、骚扰的、恐吓的、种族歧视的、情色的或其他任何非法信息资料。</p>
                    <p>4.2.6 不得以任何方式侵犯他人依法享有的知识产权、名誉权或其他任何合法权益。</p>
                    <p>4.2.7 不得利用奔跑吧小羊服务进行任何不利于奔跑吧小羊平台的行为。</p>
                    <p>4.3 用户有义务保证其提供的所有信息（包括但不限于个人注册信息、发布的项目信息等）真实、准确、完整，无重大遗漏或误导。如因用户提供的信息不准确，不真实、不完整，或有虚假、误导、违反法律法规禁止性要求等情形的，奔跑吧小羊平台有终止用户使用奔跑吧小羊平台各项服务的权利，用户有义务对此负责，并承担赔偿责任。</p>
                    <p>4.4 除奔跑吧小羊平台规定的条件外，用户因其在奔跑吧小羊平台网站的信息发布行为而达成的交易，应当与交易对方约定具体交易条件并完成交易。同时，用户明确知道，自己应当对奔跑吧小羊平台上发布的项目做出独立的投资判断，奔跑吧小羊平台不对用户的投资判断、投资行为承担任何责任。</p>
                    <p>4.5 除非奔跑吧小羊平台或内蒙古蒙蓝科技有限公司明确表示同意，否则用户与奔跑吧小羊平台上的其他认证用户之间的交易应当始终通过奔跑吧小羊平台进行交易，用户不得绕开奔跑吧小羊平台直接交易或利用奔跑吧小羊平台未予以认可的关联方交易，否则应按照交易金额的5%向奔跑吧小羊平台支付违约金。</p>
                    <p>4.6 用户必须为有完全民事行为能的自然人、法人或其他组织。</p>
                    <p class="small-title">五、奔跑吧小羊平台权利义务</p>
                    <p>5.1 奔跑吧小羊平台为所提供服务提供技术支持。</p>
                    <p>5.2 如用户有以下行为之一的，奔跑吧小羊平台有权立即停止对用户所发布的信息提供技术支持，并保存有关记录，必要时可依据法律法规及相关规定向国家有关机关报告，有权删除含有该内容的地址、目录或关闭服务器。用户应承担全部法律责任，并赔偿奔跑吧小羊平台由此受到的损失，包括合理的追索费用：</p>
                    <p>5.2.1 用户提供的信息或产品侵害任何第三方知识产权、财产权等合法权益，或可能对第三方造成不利影响或侵害；</p>
                    <p>5.2.2 用户利用奔跑吧小羊平台提供之网络平台进行任何犯罪活动，或宣传散播法律法规禁止散播的信息，或进行一切损害奔跑吧小羊平台利益的活动；</p>
                    <p>5.2.3 用户有违反本协议任何条款的行为，经奔跑吧小羊平台警告后仍未更正的；</p>
                    <p>5.2.4 用户的行为干扰奔跑吧小羊平台的服务；</p>
                    <p>5.2.5 其他违反国家政策、法律法规及奔跑吧小羊平台交易规则的行为。</p>
                    <p>5.3 用户同意奔跑吧小羊平台有权依据本协议及奔跑吧小羊平台服务规则对用户的不合法、不合规行为采取行动， 包括但不限于中断其帐号、删除地址、删除目录或关闭服务器等。</p>
                    <p>5.3 用户同意奔跑吧小羊平台有权依据本协议及奔跑吧小羊平台服务规则对用户的不合法、不合规行为采取行动， 包括但不限于中断其帐号、删除地址、删除目录或关闭服务器等。</p>
                    <p>5.3 用户同意奔跑吧小羊平台有权依据本协议及奔跑吧小羊平台服务规则对用户的不合法、不合规行为采取行动， 包括但不限于中断其帐号、删除地址、删除目录或关闭服务器等。</p>
                    <p class="small-title">六、风险和免责声明</p>
                    <p>6.1 根据本协议，奔跑吧小羊平台仅为用户提供网络空间及技术服务，对用户发布的信息的真实性、合法性、及时性和有效性不作任何性质的担保及保证，用户理解并使用这些信息应当依赖自身的独立思考和投资判断，除另有说明外，用户不会从北京奔跑吧小羊网络科技有限公司收到口头或书面的意见或信息。奔跑吧小羊平台对用户的投资收益不做任何承诺，同时对投资损失不承担任何责任。</p>
                    <p>6.2 通过奔跑吧小羊平台发布的任何信息或观点，均不代表奔跑吧小羊立场，奔跑吧小羊亦不对其完整性、合法性、真实性、准确性或可靠性负责。多用户基于奔跑吧小羊发布的信息，而做出的决策，应当保持决策的独立性。奔跑吧小羊不对用户决策承担任何责任。</p>
                    <p>6.3 内蒙古蒙蓝科技有限公司尽力维护奔跑吧小羊平台的稳定，但不就电讯系统或互联网的中断或无法运作、 技术故障、计算机错误或病毒、信息损坏或丢失或由此而产生的其他任何性质的破坏而向用户或任何第三方承担赔偿责任。</p>
                    <p>6.4 用户明确同意使用奔跑吧小羊平台服务的风险由用户自行承担。奔跑吧小羊平台不保证其提供的服务一定能满足用户的要求，用户理解并自行决定是否通过网络下载或通过奔跑吧小羊平台获取相关信息资料并由用户承担系统受损、资料丢失以及其它任何风险。奔跑吧小羊将尽力促使奔跑吧小羊平台服务的正确、持续、及时和安全，但在法律法规允许的最大范围内，不就此负担任何明示或默示的保证责任。您同意承担使用奔跑吧小羊平台服务的所有风险及因该风险可能造成的任何损害，奔跑吧小羊平台对于您所使用的各项服务或无法使用各项服务所导致的任何直接、间接、衍生或特别的损害，不负任何赔偿责任。若奔跑吧小羊平台服务因服务器、通信网络和移动终端的软硬件故障、计算机病毒、恶意攻击及其他不可预测的因素而受到影响，造成您无法通过奔跑吧小羊平台网站、APP访问和使用任何第三方提供的服务，您可尝试使用该第三方提供的其他渠道或尽快联系奔跑吧小羊平台、该第三方寻求帮助。</p>
                    <p>6.5 奔跑吧小羊在奔跑吧小羊平台服务中提供的任何内容（包括但不限于新闻资讯、股评、投资分析报告、股市预测文章等）仅供参考，除明确声明外，不构成对任何人的投资、法律、会计或税务建议，不保证切合您的个别情况，请您独立谨慎地判断投资风险。奔跑吧小羊平台将尽力保证所提供内容的来源可靠，但无法核实并不能保证上述内容的真实性、准确性及完整性，您不应对上述内容作不适当的依赖。任何奔跑吧小羊平台转载的内容仅代表其原作者的观点和态度，奔跑吧小羊平台对此不作任何判断。在适用法律允许的范围内，奔跑吧小羊平台有权随时自行决定暂停、终止、修改奔跑吧小羊平台服务，或对部分用户暂停、终止、修改奔跑吧小羊平台服务，且毋须另行通知。在适用法律允许的范围内，奔跑吧小羊平台有权随时自行决定更换提供服务的主体，且毋须另行通知；上述更换后的主体自动适用本协议，不需要您重新签署。</p>
                  <p>6.6 奔跑吧小羊可能会在奔跑吧小羊平台服务中集成由第三方提供的产品及服务、链接至第三方和/或展示第三方的标记或内容，奔跑吧小羊平台提供该等集成、链接、展示的目的仅在于向您提供方便，奔跑吧小羊平台对此不作任何保证，亦不代表奔跑吧小羊平台对该等第三方、其产品及服务的任何推荐、支持或授权，您应当自行甄别并自担风险。您在使用上述第三方的任何产品和服务时，应当了解并接受该等第三方的条款和规则。</p>
                    <p class="small-title">七、隐私政策与安全</p>
                    <p>7.1 尊重用户个人隐私是奔跑吧小羊平台的一项基本政策，奔跑吧小羊平台将尽力维护用户隐私。除非用户授权，奔跑吧小羊平台不会公开、修改或透露用户的注册资料及投资信息，但以下情况除外：</p>
                    <p>7.1.1 为符合国家法律法规强制性规定，或应有权机关要求而提供；</p>
                    <p>7.1.2 为维护奔跑吧小羊平台的知识产权和其他重要权利而提供；</p>
                    <p>7.1.3 在紧急情况下为维护用户个人和社会公众的账户及相关信息安全而提供；</p>
                    <p>7.1.4 用户侵害本协议下奔跑吧小羊的合法权益，而为维护奔跑吧小羊权益所必须；</p>
                    <p>7.1.5 根据本条款相关规定或者奔跑吧小羊平台认为必要的其他情况下。</p>
                    <p>7.2 用户在奔跑吧小羊平台注册成功后，即得到一个密码和帐号。如果因用户未保管好自己的帐号和密码而对用户、奔跑吧小羊平台或第三方造成损害，用户应承担全部责任，即用户应对任何人使用其帐户进行的一切操作行为承担全部责任。用户可随时更改自己的密码和图标，也可以结束旧的帐户重开一个新帐户。在用户发现其账户或密码泄露或被非法使用时，应立即通知内蒙古蒙蓝科技有限公司。</p>
                    <p class="small-title">八、知识产权</p>
                    <p>8.1 奔跑吧小羊平台服务涉及到的产品的所有权以及相关软件的知识产权归内蒙古蒙蓝科技有限公司所有。</p>
                    <p>8.2 奔跑吧小羊提供的网络服务中包含的任何文本、图片、音频、视频资料均受著作权、商标和/或其他财产所有权法律的保护。</p>
                    <p>8.3 对于用户通过奔跑吧小羊平台公开发布的任何内容，用户同意奔跑吧小羊在全世界范围内具有免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、衍生、传播、表演和展示此内容的整体和/或部分，并将此内容编入其他任何形式的作品、媒体或技术中。</p>
                    <p>8.4 用户应当保证其发布的信息不侵犯任何第三方知识产权及其他合法权利，否则应赔偿由此给第三方及奔跑吧小羊平台造成的损失。</p>
                    <p class="small-title">九、不可抗力</p>
                    <p>如果由于黑客攻击或政府管制或网络通讯瘫痪等不能预见且不能控制的事件，导致奔跑吧小羊平台无法正常运行， 双方均确认此属不可抗力，互不承担违约责任。</p>
                    <p class="small-title">十、法律及争议解决</p>
                    <p>10.1 本协议签署、效力、解释和执行以及争议之解决均应适用中华人民共和国法律。</p>
                    <p>10.2 因本协议引起之双方争议，应该通过友好协商解决；协商不成的，任一方均可向内蒙古蒙蓝科技有限公司所在地有管辖权的人民法院起诉。</p>
                    <p class="small-title">十一、期限</p>
                    <p>本协议的期限自用户点击同意之日起算，至用户注销账号之日起自动终止。</p>
                    <p class="small-title">十二、协议的转让</p>
                    <p>除非取得奔跑吧小羊平台的事先书面同意，用户不得将其在本协议项下的权利与义务转让给任何第三方。</p>
                    <p class="small-title">十三、 其他</p>
                    <p>13.1 本协议、《奔跑吧小羊投资人风险提示书》及《奔跑吧小羊平台隐私规则》构成用户和奔跑吧小羊平台间就使用本平台的完整的协议，并取代双方就有关本协议所载任何事项于先前以口头及书面达成的共识。</p>
                    <p>13.2 如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份则仍具有法律效力。</p>
                    <p>13.3 本协议的标题仅为方便阅读所设，非对条款的定义、限制、解释或描述其范围或界限。</p>
                    <p>13.4 在用户过失或违约时，奔跑吧小羊平台放弃本协议规定的权利的，不视为奔跑吧小羊平台对用户的其他或以后同类之过失或违约行为放弃追索权。</p>
                    <p>13.4 在用户过失或违约时，奔跑吧小羊平台放弃本协议规定的权利的，不视为奔跑吧小羊平台对用户的其他或以后同类之过失或违约行为放弃追索权。</p>
                  
                </div>
                <div class="help-detail detail4">
                    <h2>奔跑吧小羊平台隐私规则</h2>
                    <p>以下是奔跑吧小羊平台及其运营公司内蒙古蒙蓝科技有限公司(以下合称“奔跑吧小羊”)的隐私规则。在您同意奔跑吧小羊服务协议(以下称协议)之时，您已同意奔跑吧小羊按照本隐私规则来使用和披露您的个人信息。</p>
                    <p class="small-title">1.涉及的个人资料 </p>
                    <p>奔跑吧小羊收集个人资料的主要目的在于向您提供一个顺利、有效和量身订制的交易经历。奔跑吧小羊仅收集奔跑吧小羊认为就此目的及达成本目标所必须的关于您的个人资料。奔跑吧小羊可能以公开及私人资料来源收集您的额外资料，以更好地了解奔跑吧小羊用户，并为您度身订制奔跑吧小羊服务、解决争议并确保在网站进行安全交易。奔跑吧小羊按照您在奔跑吧小羊网址上的行为自动追踪关于您的某些资料。奔跑吧小羊利用这些资料进行有关奔跑吧小羊平台用户的人口统计、兴趣及行为的内部大数据研究，以更好地了解您及向您和奔跑吧小羊的用户社区提供更好的服务。如果您将个人通讯信息(例如:手机短信、电邮 或信件)交付给奔跑吧小羊，或如果其他用户或第三方向奔跑吧小羊发出关于您在奔跑吧小羊上的活动或登录事项的通讯信息，奔跑吧小羊可以将这些资料收集在您的专门档案中。奔跑吧小羊所收集的用户信息和资料将保存在奔跑吧小羊及/或奔跑吧小羊关联公司的服务器上。</p>
                    <p class="small-title">2. 奔跑吧小羊对您的资料的使用 </p>
                    <p>您同意奔跑吧小羊可使用关于您的个人资料(包括但不限于奔跑吧小羊持有的有关您的档案中的资料， 及奔跑吧小羊从您目前及以前在奔跑吧小羊上的活动所获取的其他资料)以解决争议、对纠纷进行调停、有助于确保在奔跑吧小羊进行安全交易，并执行奔跑吧小羊的用户协议。奔跑吧小羊有时候可能调查多个用户以识别问题或解决争议，特别是奔跑吧小羊可审查您的资料以区分使用多个用户名或别名的用户。为限制在网站上的欺诈、非法或其他刑事犯罪活动，使奔跑吧小羊免受其害，您同意奔跑吧小羊可通过人工或自动程序对您的个人资料进行评价。您同意奔跑吧小羊可以使用您的个人资料以改进奔跑吧小羊的推广和促销工作、分析网站的使用率、改善奔跑吧小羊的内容和产品推广形式，并使奔跑吧小羊的网站内容、设计和服务更能符合用户的要求。这些使用能改善奔跑吧小羊的网页，以调整奔跑吧小羊的网页使其更能符合您的需求，从而使您在使用奔跑吧小羊服务时得到更为顺利、有效、安全及度身订制的交易体验。您同意奔跑吧小羊使用您的资料与您联络并向您传递(在某些情况下)针对您的兴趣而提供的信息，例如:有针对性的广告条、行政管理方面的通知、产品提供以及有关您使用奔跑吧小羊的通讯。您接受服务协议和隐私规则即为明示同意收取这些资料。</p>
                    <p class="small-title">3. 奔跑吧小羊对您的资料的披露 </p>
                    <p>奔跑吧小羊采用行业标准惯例以保护您的个人资料，但鉴于技术限制，奔跑吧小羊不能确保您的全部私人通讯及其他个人资料不会通过本隐私规则中未列明的途径泄露出去。奔跑吧小羊有义务根据有关法律要求向司法机关和政府部门提供您的个人资料。在您未能按照与奔跑吧小羊签订的服务协议、居间协议或者与奔跑吧小羊其他用户签订的借款协议的约定履行自己应尽的义务时，奔跑吧小羊有权根据自己的判断或者与该笔交易有关的其他用户的请求披露您的个人资料，并作出评论。</p>
              
                   <p class="small-title">4. 您对其他用户的资料的使用  </p>
                   <p>在奔跑吧小羊提供的交易活动中，您无权要求奔跑吧小羊提供其他用户的个人资料，除非符合以下条件</p>
                   <p>(a) 您已向法院起诉其他用户的在奔跑吧小羊活动中的违约行为;</p>
                   <p>(b) 与您有关的其他用户(包括交易关系、奔跑吧小羊登记的朋友关系)有不履行交易合同约定义务的;</p>
                   <p>(c) 奔跑吧小羊被吊销营业执照、解散、清算、宣告破产或者其他有碍于您履行交易合同约定义 务、行使交易合同约定权利的情形。</p>
                    <p class="small-title"> 5. 公开的交易信息  </p>
                    <p>您提供发布的供交易的权益信息或报价将被显示在公共区域，对任何用户来说是公开的。请注意所有在这些场所公开的信息会成为公共信息，请您在决定公布您的个人信息前仔细考虑。</p>
                    <p class="small-title">6. 密码的安全性 </p>
                    <p>您须对使用您的用户名和密码所采取的一切行为负责。因此，奔跑吧小羊建议您不要向任何第三方披露您在奔跑吧小羊的用户名和密码。</p>
                    <p class="small-title">7. 规则修改</p>
                    <p>奔跑吧小羊可能不时按照您的意见和奔跑吧小羊的需要修改本隐私规则，以准确地反映奔跑吧小羊的资料收集及披露惯例。 </p>
                </div>
                <div class="help-detail detail5">
                   <h2>奔跑吧小羊用户支付协议</h2>
                   <p class="small-title">重要提示：</p>
                   <p>本协议是奔跑吧小羊平台与用户就支付服务的使用事项所订立的有效合约。当用户完成注册、认证并成功登录奔跑吧小羊平台，即表示用户与奔跑吧小羊平台已达成协议并同意接受本协议的全部约定内容。在接受本协议之前，奔跑吧小羊特别提醒用户仔细阅读本协议的全部内容，特别是免除或限制奔跑吧小羊的责任、限制用户的权利、规定争议解决方式的相关条款。如果用户对本协议的条款存有疑问，请通过平台提供的客服渠道进行询问。用户一经开通支付服务，即视为用户已理解并接受本协议。</p>
                   <p class="small-title">一、用户须知</p>
                   <p>1.1 奔跑吧小羊支付服务（以下简称“本服务”）：指奔跑吧小羊为收付款人之间提供的货币资金转移服务。</p>
                  <p>1.2 本服务暂仅支持支付宝支付，即用户授权支付宝支付与奔跑吧小羊的划款操作。对用户的银行账户采取资金扣划和归集操作的支付方式。 
                  </p>
                  <p>1.3 用户理解并同意，本服务的上述流程因适用场景和功能存续情况的变化而发生调整，请以奔跑吧小羊实际提供的服务流程为准。 </p>
                  <p>1.4 用户同意并授权奔跑吧小羊在提供本服务前或提供本服务期间向有关机关、组织查询或核实用户的相应信息，如身份信息、账户信息等。 </p>
                  <p>1.5 用户理解并同意，奔跑吧小羊有权根据业务运营的调整单方修改、变更本协议的内容，并将通过奔跑吧小羊网站或APP公布最新的服务协议，奔跑吧小羊将不作个別通知。若用户于本协议发生任何修改、变更后继续使用本服务的，视为用户已阅读、了解并同意接受上述修改、变更，若用户不同意上述修改、变更，应在变更生效前立即停用本服务。</p>
                  <p class="small-title">二、账户和信息安全</p>
                </div> -->
                <div class="help-detail detail7" style="display:block;">
                   <h2>认养协议</h2>
                   <p><img src="/static/index/images/biao.png" alt="" style="width:80%"></p>
                  <p  class="small-title">鉴于：</p>
                  <p>1、甲方是一家从事肉羊养殖，集饲料生产，销售及畜禽养殖、加工、销售为一体的现代高科技企业。即是互联网平台“奔跑吧！小羊”（以下简称“平台”）的运营管理人，提供养殖解决方案咨询及相关服务。</p>
                  <p>2、乙方作为甲方平台注册用户(具体信息详见本协议首部表格)，拟通过平台与甲方合作收购并屠宰销售育肥羊，以获取投资利益。</p>
                  <p>3、甲方及乙方均同意遵守平台的各项行为准则，在充分阅读理解本文本情形下本着诚信、自愿、原则签订本协议。</p>
                  <p>现各方根据《中华人民共和国合同法》等相关法律、法规的规定，在平等、自愿、协商一致的基础上，就合作收购并屠宰销售育肥羊事宜，达成本协议如下：                      </p>
                  <p class="small-title">一、合作方式</p>
                  <p>双方同意以“互联网牧场”的模式合作收购并屠宰销售育肥羊，即乙方作为投资人提供资金，委托甲方收购育肥羊、屠宰、销售羊肉，最终按约定方式获取投资收益；甲方接受乙方委托，利用乙方资金以自己的名义代乙方向乙方返还投资收益，乙方据此向甲方支付一定比例的报酬；甲方负责运营“奔跑吧！小羊”平台，为甲乙双方在“互联网牧场”模式下合作提供交易平台及信息数据的采集，披露等技术支持服务。</p>
                  
                  <p class="small-title">二、合作内容</p>
                  <p>1、乙方在平台发布的认购期内认购一定数量的育肥羊，并将所认购育肥羊数量对应的投资本金支付给甲方。</p>
                  <p>2、认购期届满（即甲方指定的认购期限届满之日或认购期内甲方发布的育肥羊数量被足额认购之日，以先到日期为准）后次日，乙方在成功认购所实际支付的投资本金总额一次性转付甲方。</p>
                  <p>3、甲方于收到投资本金后3个工作日内，接受乙方用户委托以自己的名义为该期用户完成所认购数量育肥羊的选购，并将所购买育肥羊的耳标等信息告知乙方，由甲方将该等信息录入平台系统供乙方查询。</p>
                  <p>4、甲方确认并同意，其依据本协议所购买的育肥羊（包括屠宰后的肉制产品）的所有权归属于乙方，即自甲方从其交易对手处受领育肥羊之日起，乙方即享有育肥羊的所有权。</p>
                  <p>5、乙方委托甲方对其所购买的育肥羊按照《羊只收购标准》（附件一）进行收购。</p>
                  <p>6、甲方接受乙方委托，提供/自建符合约定标准的羊舍和配套设备设施，并按照约定标准对用户所购买的育肥羊进行屠宰分割及销售。</p>
                  <p>7、育肥羊期间，甲方按照乙方的要求实时提供育肥羊收购、屠宰及销售过程中的各项数据信息，完成系统的录入，从而乙方可通过平台实时查看过程。</p>
                  <p>8、除乙方按本协议约定承担的部分费用外，育肥羊养殖过程中所产生的一切费用，包括但不限于羊舍及配套设备设施的建造、安装、饲料、疫苗、除虫、人工等均有甲方承担。</p>
                  <p>9、育肥羊收购并屠宰销售的周期为240天，销售结束后，甲方将按照本协议约定形式向乙方返还或配送育肥羊，以自然月为基础。出栏日之后甲方有权提前返还投资本金及收益，以自然月为基础，超出自然月天数按天计算收益。（每个自然月为30天计算收益）。</p>
                  <p class="small-title">三、投资本金及支付方式</p>
                  <p>1、本协议项下的“投资本金”是指，乙方为甲方受托履行本协议项下各委托事项所需一次性支付给甲方的费用及报酬。</p>
                  <p>2、每只育肥羊的投资本金为______ 元，详见下表：
                  </p>
                  <p> <img src="/static/index/images/chengben.png" style="width:80%;" alt="">
                      </p>
                      <p>3、各方确认，乙方通过平台成功认购的即将屠宰的育肥羊数量，即乙方委托甲方购买的待屠宰育肥羊数量，以及本协议项下乙方应支付给甲方的投资本金金额详见本协议首部表格。</p>
                      <p>4、支付方式，本协议成立后，乙方应一次性将应付的投资本金通过在线支付或银行转账方式足额支付至第三方托管平台，乙方同意并授权后，由第三方托管平台于认购期届满后次日将投资本金总额转付至甲方指定收款账户。</p>
                      <p>5、甲方指定收款账户信息如下：
                          户名：新疆顺天德业农牧业科技有限公司
                          账号：107645069200
                          开户行：中国银行股份有限公司乌鲁木齐市黄河路南支行</p>
                  <p class="small-title">四、投资收益的返还</p>
                  <p>1、乙方确认并同意，育肥羊屠宰销售结束后，甲方应按以下第一种方式向乙方返还投资收益。
                      （1）现金返还；即乙方委托甲方、甲方同意并接受乙方委托，以自己的名义代为出售乙方的育肥羊屠宰后所生产的产品，并按约定返还乙方育肥羊屠宰后销售生产产品的销售所得。
                      （2）实物返还；即乙方委托甲方、甲方同意并接受乙方委托，对乙方的育肥羊进行屠宰后，按约定返还乙方一定标准数量的羊肉。</p>
                  <p>2、如采用现金返还形式的，则：
                      （1）无需征得乙方同意，甲方自己可以作为乙方育肥羊及屠宰后肉制产品的买受人。
                      （2）甲方以自己名义代为出售育肥羊屠宰后的肉制产品时，应按照乙方的指示以不低于      元/只（扣除应交税费后，以下简称“指导价”）的价格卖出，按照指导价出售所得价款全部归属于乙方。
                      （3）甲乙双方确认并同意，如甲方高于指导价出售育肥羊屠宰后的产品，则超出本协议第二条第9款约定的预期年化率部分的收益归甲方所有；若低于指导价出售的，则甲方应向乙方补足其低于本协议第二条第9款约定的预期年化率部分的收益的差额部分。
                      （4）全部产品销售回款后3个工作日内，甲方应将乙方应得的投资收益（具体金额详见本协议首部表格）支付至第三方托管平台，由第三方托管平台代为转付至乙方指定的收款账户。
                      （5）甲乙双方确认，投资本金自认购之日至收购待屠宰的育肥羊当日不计算投资收益。</p>
                  <p>3、如采用实物返还形式的，具体收益返还标准及费用详见附件二（该附件暂不提供）</p>
                  <p class="small-title">五、甲方的权利和义务</p>
                  <p>1、甲方有权按照本协议约定向乙方先收取一定的费用及报酬。</p>
                  <p>2、甲方应在本协议约定的期限内，按照乙方成功认购的育肥羊数量为乙方选购育肥羊。</p>
                  <p>3、甲方应保证其为乙方选购的育肥羊均符合《羊只收购标准》（附件一）中约定的选购标准。</p>
                  <p>4、甲方应负责提供/自建屠宰育肥羊所需的羊舍和配套设备设施，并承担由此产生的一切费用。羊舍和配套设备设施建设、安装完毕后，需经丙方指定的技术监督单位进行验收，验收符合标准的方能投入使用。羊舍及屠宰设施建设如需要相关部门审批许可的，由甲方自行办理。</p>
                  <p>5、甲方应保证在对乙方育肥羊进行屠宰销售期间，其提供/自建的羊舍和配套设备设施始终符合国家有关部门各项要求及指标。</p>
                  <p>6、甲方在受托收购育肥羊过程中应严格按照《羊只收购标准》（附件一）操作，确保育肥羊能达到屠宰及销售标准、按时间向乙方返还投资收益。</p>
                  <p>
                      7、甲方在符合国家肉制产品规定及标准的情况下，收购并屠宰销售符合国家规定的育肥羊，并承担销售风险；甲方承担育肥羊屠宰及销售期间所发生的一切风险和损失。</p>
                  <p>8、甲方须接受乙方的检查和监督，按乙方要求实时通过平台向乙方提交合作内容的相关数据，并保证其提供给乙方的各项数据及信息均真实、准确、完整及有效。</p>
                  <p>9、销售结束后，甲方按照本协议第四条的约定向乙方返还投资收益，甲方对本协议约定的投资收益承担保证担保责任，因市场萧条等外部因素导致销售收入不足以覆盖本协议约定的投资本金及收益时，由甲方负责不足差额。</p>
                  <p>10、如甲方因经营不善或财务严重恶化等因素而丧失还款或保证担保能力的，乙方有权要求甲方将育肥羊屠宰后的加工产品返还乙方或者及时予以销售，甲方应无条件予以配合。</p>
                  <p>11、甲方须为其在本协议项下各项义务向乙方提供合理的履约担保。</p>
                  <p class="small-title">六、乙方的权利和义务</p>
                  <p>1、乙方要求甲方按照履行标准代为选购育肥羊，并按照约定享有本协议项下育肥羊及屠宰后肉制产品的所有权。</p>
                  <p>2、乙方有权向甲方转付投资本金，并收取投资收益。</p>
                  <p>3、乙方有权要求甲方严格按照《羊只收购标准》（附件一）对育肥羊进行收购，并承担收购风险。</p>
                  <p>4、乙方有权监督甲方在本协议项下对各委托事项的履行情况，包括但不限于育肥羊的购买、养殖、屠宰、出售等，并有权通过平台实时查询合作养羊过程中各项操作数据及信息。</p>
                  <p>5、销售结束后，乙方有权按照本协议第四条约定要求甲方返还投资收益。</p>
                  <p>6、乙方有权对甲方不履行本协议项下义务的行为而给乙方造成的损失进行赔偿。</p>
                  <p>7、乙方应按本协议约定向甲方支付投资本金。</p>
                  <p>8、乙方应保证其投资资金来源合法、且是该资金的合法所有人。如果因其资金的归属及合法性问题与第三方发生争议，由乙方自行负责解决；如因此给甲方或造成任何直接或间接损失，乙方应予以赔偿。</p>
                  <p>9、非经甲方书面同意，乙方不得单方面提前解除或终止本协议。</p>
                  <p>10、本协议履行期间，如因发生不能预见、不能克服、不能避免等不可抗力因素（如：台风、地震、洪水、冰雹等自然灾害、战争、社会动乱、政府禁令等）而给乙方造成损失的，由乙方应承担相应的投资风险及损失。发生不可抗力情形时，甲方有义务及时通知乙方，并积极履行必要的配合义务。</p>
                  <p>11、由乙方因自身原因（密码丢失或被盗等）导致账号财产损失，由乙方自行承担。</p>
                  <p class="small-title">七、违约责任</p>
                  <p>1、一方违反其在本协议中所作的声明和保证或未完全履行其在本协议项下的义务，即视为违约，因此给守约方造成损失的，违约方予以赔偿。</p>
                  <p>2、违约方因违约应赔偿给守约方的损失，包括但不限于因违约给守约方造成的直接损失，以及守约方在协议履行后可以获得的利益、守约方为防止或减少损失的扩大而支出的合理费用，守约方支付的诉讼费和律师费等间接损失。</p>
                  <p>3、各方均有过错的，应根据各方实际过错程度，分别承担各自的违约责任。</p>
                  <p class="small-title">八、协议的签订及生效</p>
                  <p>1、本协议通过乙方以在线点击平台页面上相应按钮的方式签订并成立。本协议一经乙方签署，即视为各方接受本协议调款内容并受此内容之拘束。</p>
                  <p>2、本协议自甲方收到本协议项下乙方应支付的投资本金后立即生效。</p>
                  <p class="small-title">九、协议的解除和终止</p>
                  <p>1、经双方一致协商，可以共同决定提前解除或终止本协议。</p>
                  <p>2、除本协议另有约定外，任何一方不得擅自单方面提前解除或终止本协议。</p>
                  <p>3、甲方违反其在本协议项下的义务致使乙方在本协议项下的目的不能实现的，乙方有权提前解除本协议，并要求甲方赔偿由此造成的一切损失。</p>
                  <p class="small-title">十、争议解决条款</p>
                  <p>因解释和履行本协议而发生的任何争议，各方应首先通过友好协商的方式加以解决。如果在一方向其他方发出要求协商解决的书面通知书后30天之内争议任然得不到解决，则任何一方均有权将有关争议提交新疆仲裁委员会依据届时有效的仲裁规则进行裁决。</p>
                  <p class="small-title">十一、其他条款</p>
                  <p>1、本协议受中华人民共和国法律管辖并依其解释和履行。对本协议的任何修改或补充应以丙方平台电子文本形式作出，作为本协议的组成部分，具有与本协议同等的法律效力。</p>
                  <p>2、任何一方未行使或延迟行使本协议及其修改或补充协议所约定的任何权利或救济的行为，都不应构成或被视为弃权行为；任何单一或部分行使上述权利和救济的行为也不应妨碍对该权利和救济的进一步行使。</p>
                  <p>3、本协议的任何条款或规定如在任何法律管辖的任何情况下无效或不能强制执行，不影响本协议的其他条款或规定的有效性或可强制执行性，也不影响该条款或规定在其他情况下或其他司法管辖区的效力或可强制执行性。</p>
                  <p>4、各方应采取和签署使本协议条款生效所需的所有其他行为、契约、活动和文件或使上述行动被采取或文件被签署。如果在交割后的任何时候，为实现本协议的目的必须或需要采取任何进一步的行动，协议任何一方都应在协议其他地方合理要求下采取这种行动（包括签署及交付文书或文件）。</p>

                </div>
                <div class="help-detail detail6">
                   <h2>项目投资流程</h2>
                   <p style="text-indent:0;"><img src="/static/index/images/lc_01.jpg" alt=""></p>
                   <p style="text-indent:0;"><img src="/static/index/images/lc_02.jpg" alt=""></p>
                   <p style="text-indent:0;"><img src="/static/index/images/lc_03.jpg" alt=""></p>
                   <p style="text-indent:0;"><img src="/static/index/images/lc_04.jpg" alt=""></p>
                   <p style="text-indent:0;"><img src="/static/index/images/lc_05.jpg" alt=""></p>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FOOTER -->
      {include file="public/foot_low" /}
    </main>
    {include file="public/footer" /}
      <script type="text/javascript">
          var height=$(".help-sub").height();
          $(".help-content .container").height(height)
      </script>
      <script type="text/javascript">
        $(".help-title ul li").click(function(){
          $(this).addClass("active").siblings().removeClass("active");
          $(".detail"+$(this).val()).attr('style','display:block').siblings(".help-detail").attr("style","display:none");
          var height=$(".help-sub").height();
          console.log(height)
          $(".help-content .container").height(height);
        });
      </script>
  </body>
</html>
