{include file="public/header" /}
    <meta name="keywords" content="众筹网,众筹平台,众筹养殖,互联网投资,互联网理财,互联网养殖,养殖理财" />
    <meta name="description" content="奔跑吧小羊专注于农牧行业一二三产业融合领域，依托共享经济实现资源中转，深耕农牧产业，专注实体发展的众筹型平台。" />
    <title>首页</title>
</head>
<body>
<header>
    <div class="container" style="position: relative;">
      <div class="navbar-brand"><a href="index.html">
        <!-- <img src="/static/index/picture/logo_head.png"></img> -->
      </a></div>
      <div class="yy-logo"><a href="index.html">
        <!-- <img src="/static/index/picture/logo_head.png"></img> -->
      </a></div>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="index.html"><span>首页</span></a></li>
            <li class="nav-item"><a class="nav-link" href="about.html"><span>关于我们</span></a></li>
            <li class="nav-item"><a class="nav-link" href="help.html"><span>帮助中心</span></a></li>
          </ul>
          <div class="mobile"><a href="mobile.html" style="color: #333"><span>访问移动端</span></a></div>
        </div>
      </nav>
    </div>
</header>
<main role="main">
      <!-- 轮播 -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- 指示器 -->
      <!--        <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol> -->
      <!-- 图片轮播 -->
      <div class="carousel-inner">
        <div class="carousel-item active"><img class="first-slide" src="/static/index/picture/banner_1.jpg" alt="First slide"></div>
      </div>
      <!--    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a> -->
      </div>
      <!-- 轮播结束 -->
      <!-- 我想说开始 -->
      <div class="container say">
        <h1>我想说</h1>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="who">
            <p>郑州罗布羊科技有限公司成立于2018年，总部位于河南自贸试验区郑州片区(郑东)中兴南路与福禄路交叉口连邦大厦，注册资本500万元，现有员工23人，管理层四人，员工19人，共计本科17人，大专6人。</p>
          </div>
          <div class="tab-pane fade" id="what">
            <p>公司精心打造的生态型互联网＋牧业养殖平台——奔跑吧小羊，以互联网+实体牧场+电子商务发展模式，将互联网、物联网、大数据等新一代信息技术和设备与传统牧业养殖相结合，打通融资、生产、管理、加工、销售、溯源等环节，构建了完整的生态养殖产业链闭环，帮助养殖企业、合作社以及个体牧民扩大养殖模式、实现轻资产运营、创业创收。</p>
          </div>
        </div>
        <ul id="myTab" class="nav nav-tabs">
          <li class="active"><a href="#who" data-toggle="tab" class="active show">我是谁</a></li>
          <li><a href="#what" data-toggle="tab">我在做什么</a></li>
        </ul>
      </div>
      <!-- 我想说结束 -->
      <!-- 众筹项目开始 -->
      <div class="crowd-funding">
        <div class="container">
          <h1>公司项目</h1>
          <div class="row">
            <div class="col-lg-4"><img src="/static/index/picture/zc1.jpg"></div>
            <div class="col-lg-4 active"><img src="/static/index/picture/zc2.jpg"></div>
            <div class="col-lg-4"><img src="/static/index/picture/zc3.jpg"></div>
          </div>
        </div>
      </div>
      <!-- 众筹项目结束 -->
      <!-- 我的优势开始-->
      <div class="advantage">
        <div class="container">
          <h1>我的优势</h1>
          <div class="content">
            <p>1、产品优势：羊肉，是每家每户必须要吃的食品尤其是家有宝宝、孕妇、老人的家庭，重复消费率和客户忠实度极高。而且，目前由于食品安全问题的影响，人们对于有机天然的羊肉的需求更加的渴望而不可及。所以公司打造的：通过线上线下相结合，手机可视，消费者认养，平台管理及代理养殖。</p>
            <p>2、客群优势：和传统项目不同我们是先有客户后有项目，通过对基地的参观和考察，真实了解产品的源头，对产品更加放心和认可，并成为公司和产品的消费者和代言人！</p>
            <p>3、团队优势：郑州罗布羊科技有限公司项目的组织者、管理者均为MBA、研究生及从事互联网行业多年有着丰富的互联网及电子商务、养殖从业经验者。</p>
          </div>
        </div>
      </div>
      <!-- 我的优势结束 -->
      <!-- 我的伙伴开始 -->
      <div class="partner">
        <div class="container">
          <h1>我的伙伴</h1>
          <ul>
            <li><a href="http://www.xjbt.gov.cn/" target="_blank"><img src="/static/index/picture/p9.png"></a></li>
            <li><a href="https://weixin.qq.com/" target="_blank"><img src="/static/index/picture/p8.png"></a></li>
            <li><a href="https://www.alipay.com/" target="_blank"><img src="/static/index/picture/p3.png"></a></li>
            <li><a href="http://www.boc.cn/" target="_blank"><img src="/static/index/picture/p5.png"></a></li>
            <li><a href="http://www.cmbchina.com/" target="_blank"><img src="/static/index/picture/p6.png"></a></li>
            <li><a href="http://www.cmbchina.com/" target="_blank"><img src="/static/index/picture/p7.png"></a></li>
           
          </ul>
        </div>
      </div>
    </div><!-- /.container -->
    <!-- FOOTER -->
    {include file="public/foot_low" /}
</main>
{include file="public/footer" /}
<script type="text/javascript">
    $(".crowd-funding .row .col-lg-4").click(function(){
    $(this).addClass("active").siblings().removeClass("active")
    })
</script>
</body>
</html>