{include file="public/header" /}
	<meta name="keywords" content="奔跑吧小羊APP,奔跑吧小羊公众号,奔跑吧小羊软件,奔跑吧小羊手机客户端,奔跑吧小羊登录" />
	<meta name="description" content="奔跑吧小羊移动端APP全新上线，适应多种主流机型，安卓、苹果系统同步下载；界面更清晰、操作更流畅、在线养羊更方便。还有多种新功能上线哦！" />
  <title>官方公众号|移动端APP下载-奔跑吧小羊</title>
</head>
  <body>
    <div class="bg-map">
      <div class="container bg-top">
          <div class="bg-right">
            <a href="index.html"><img src="/static/index/picture/logo_01.png"></a>
            <p class="intro">生态型互联网＋牧业养殖平台</p>
            <ul>
              <li>
                <img src="/static/index/picture/wx.png">
                <p>微信公众号</p>
              </li>
              <li>
                <img src="/static/index/picture/app.jpg">
                <p>安卓APP下载</p>
              </li>
            </ul>
          </div>
      </div>
    </div>
       <div class="container contact">
          <h1>联系我们</h1>
          <p>公司地址：河南自贸试验区郑州片区(郑东)中兴南路与福禄路交叉口连邦大厦1203号</p>
          <p>联系电话：0991-5301929  15389915599</p>
          <p>QQ:262386640&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微信号：xiangzi-888888</p>
          <p class="conpany">copyriht&nbsp;©2019&nbsp;郑州罗布羊科技有限公司&nbsp;All Rights Reserved&nbsp;豫ICP备18045588号-1</p>
      </div>  
      {include file="public/footer" /}
  </body>
</html>
