{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<link rel="stylesheet" type="text/css" href="/static/admin/payment/css/config.css">
<style>
.file-item{float: left; position: relative; width: 110px;height: 110px; margin: 0 20px 20px 0; padding: 4px;}
.file-item .info{overflow: hidden;}
.uploader-list{width: 100%; overflow: hidden;}
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加提醒</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" name="edit" id="edit" method="post" action="{:url('edit')}">
                    <input type="hidden" name="id">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标识：</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="name" value="{present name="info"}{$info.name}{/present}">
                            </div>
                            <div class="col-sm-4 detail">即发送消息的场景</div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">参数：</label>
                            <div class="input-group col-sm-4">
                                <textarea type="text" rows="5" name="param" id="remark"  class="form-control">{present name="info"}{$info.param}{/present}</textarea>
                            </div>
                            <div class="col-sm-4 detail">例：#name# = 用户名称 (多个参数使用英文,分隔)</div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">默认状态：</label>
                            <div class="col-sm-6">
                                <div class="radio i-checks">
									{notempty name="info"}
									<label for="sms">
                                        <input type="checkbox" id="sms" name='auth[]' value="1" <?php if(in_array(1,$info['auth_arr'])) echo "checked='checked'";?>  />短信
                                    </label>&nbsp;&nbsp;
                                    <!--<label for="email">
                                        <input type="checkbox" id="email" name='auth[]' value="2" <?php if(in_array(2,$info['auth_arr'])) echo "checked='checked'";?>/>邮件
                                    </label>&nbsp;&nbsp;
                                    <label for="message">
                                        <input type="checkbox" id="message" name='auth[]' value="4" <?php if(in_array(4,$info['auth_arr'])) echo "checked='checked'";?>/>站内信
                                    </label>&nbsp;&nbsp;
                                    <label for="wx">
                                        <input type="checkbox" id="wx" name='auth[]' value="8" <?php if(in_array(8,$info['auth_arr'])) echo "checked='checked'";?>/>微信
                                    </label>&nbsp;&nbsp;
                                    <label for="push">
                                        <input type="checkbox" id="push" name='auth[]' value="16" <?php if(in_array(16,$info['auth_arr'])) echo "checked='checked'";?>/>推送
                                    </label>-->
									{else/}
									<label for="sms">
                                        <input type="checkbox" id="sms" name='auth[]' value="1" checked="checked" />短信
                                    </label>&nbsp;&nbsp;
                                    <!--<label for="email">
                                        <input type="checkbox" id="email" name='auth[]' value="2" />邮件
                                    </label>&nbsp;&nbsp;
                                    <label for="message">
                                        <input type="checkbox" id="message" name='auth[]' value="4" />站内信
                                    </label>&nbsp;&nbsp;
                                    <label for="wx">
                                        <input type="checkbox" id="wx" name='auth[]' value="8" />微信
                                    </label>&nbsp;&nbsp;
                                    <label for="push">
                                        <input type="checkbox" id="push" name='auth[]' value="16" />推送
                                    </label>-->
									{/notempty}
                                    
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
								<input type="hidden" name="id" value="{$Request.param.id}"/>
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
  {include file="public/footer" /}
<!--
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>
<script type="text/javascript">
    var $list = $('#fileList');
    //上传图片,初始化WebUploader
    var uploader = WebUploader.create({

        auto: true,// 选完文件后，是否自动上传。
        swf: '/static/admin/js/webupload/Uploader.swf',// swf文件路径
        server: "{:url('Upload/upload')}",// 文件接收服务端。
        duplicate :true,// 重复上传图片，true为可重复false为不可重复
        pick: '#imgPicker',// 选择文件的按钮。可选。

        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/jpg,image/jpeg,image/png'
        },

        'onUploadSuccess': function(file, data, response) {
            $("#data_photo").val(data._raw);
            $("#img_data").attr('src', '/uploads/images/' + data._raw).show();
        }
    });

    uploader.on( 'fileQueued', function( file ) {
        $list.html( '<div id="' + file.id + '" class="item">' +
            '<h4 class="info">' + file.name + '</h4>' +
            '<p class="state">正在上传...</p>' +
        '</div>' );
    });

    // 文件上传成功
    uploader.on( 'uploadSuccess', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传成功！');
    });

    // 文件上传失败，显示上传出错。
    uploader.on( 'uploadError', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传出错!');
    });


</script>
-->

<script type="text/javascript">

    $(function(){
		$('#edit').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });
        

        function checkForm(){
            if( '' == $.trim($('#title').val())){
                layer.msg('消息名称不能为空', {icon: 5,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }
			if($("input:checkbox:checked").length < 1){
				layer.msg('请至少选择一种发送方式', {icon: 5,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
				return false;
			}

		}

        function complete(data){

            if(data.code == 1){
                layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                    window.location.href="{:url('remind/index')}";
                });
            }else{
                layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }
        }

    });


    //IOS开关样式配置
   var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
    var config = {
        '.chosen-select': {},
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }



</script>
</body>
</html>
