{include file="public/header" /}
<link rel="stylesheet" href="/static/admin/remind/index.css">
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>通知设置</h5>
        </div>
        <div class="ibox-content">
            <!-- 搜索框开始 -->
            <div class="row">
                <div class="col-sm-12">
                    <div  class="col-sm-2" style="width: 100px">
                        <div class="input-group" >
                            <a href="{:url('add')}"><button class="btn btn-outline btn-primary" type="button">添加提醒</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 搜索框结束 -->
            <div class="hr-line-dashed"></div>
            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th width="5%">ID</th>
                                <th width="25%">标识</th>
                                <th width="10%">短信</th>
                                <!--<th width="10%">邮件</th>
                                <th width="10%">站内信</th>
                                <th width="10%">微信提醒</th>
                                <th width="10%">推送</th>-->
								<th width="20%">操作</th>
                            </tr>
                        </thead>
                        <!-- <script id="list-template" type="text/html">
                            {{# for(var i=0;i<d.length;i++){  }}
                                <tr class="long-td">
                                    <td>{{d[i].id}}</td>
                                    <td>{{d[i].title}}</td>
                                    <td>{{d[i].name}}</td>
                                    <td><img src="/uploads/images/{{d[i].photo}}" style="height: 30px" onerror="this.src='/static/admin/images/no_img.jpg'"/></td>
                                    <td>{{d[i].views}}</td>
                                    <td>{{d[i].create_time}}</td>
                                    <td>{{d[i].update_time}}</td>
                                    <td>
                                        {{# if(d[i].status==1){ }}
                                            <a href="javascript:;" onclick="article_state({{d[i].id}});">
                                                <div id="zt{{d[i].id}}"><span class="label label-info">开启</span></div>
                                            </a>
                                        {{# }else{ }}
                                            <a href="javascript:;" onclick="article_state({{d[i].id}});">
                                                <div id="zt{{d[i].id}}"><span class="label label-danger">禁用</span></div>
                                            </a>
                                        {{# } }}
                                    </td>
                                    <td>
                                        {{# if(d[i].is_tui==1){ }}
                                            是
                                        {{# }else{ }}
                                            否
                                        {{# } }}
                                    </td>
                                    <td>
                                        <a href="javascript:;" onclick="edit_article({{d[i].id}})" class="btn btn-primary btn-xs btn-outline">
                                            <i class="fa fa-paste"></i> 编辑</a>&nbsp;&nbsp;
                                        <a href="javascript:;" onclick="del_article({{d[i].id}})" class="btn btn-danger btn-xs btn-outline">
                                            <i class="fa fa-trash-o"></i> 删除</a>
                                    </td>
                                </tr>
                            {{# } }}
                        </script> -->
                        <tbody id="list-content">
							{volist name="list" id="l"}
                            <tr class="long-td" id="tr_{$l.id}">
                                <td>{$l.id}</td>
                                <td>{$l.name}</td>
								
								{foreach name="l.auth_arr" item="aa" key="kk"}
								<td>
									{if condition="$aa eq 1"}
										<input type="checkbox" name='msg_auth' data-id="{$l.id}" value="{$kk}" checked="checked" style="opacity: 0;"/>
										<div class="iradio_square-green checked"></div>
									{else /}
										<input type="checkbox" name='msg_auth' data-id="{$l.id}" value="{$kk}" style="opacity: 0;"/>
										<div class="iradio_square-green "></div>
									{/if}
                                    
                                </td>
								{/foreach}
                                <td>                                   
									<a href="{:url('add',['id'=>$l.id])}" class="btn btn-primary btn-outline btn-xs"><i class="fa fa-paste"></i> 编辑</a>
									<a href="javascript:;" onclick="del_msg({$l.id})" class="btn btn-danger btn-outline btn-xs"><i class="fa fa-trash-o"></i> 删除</a>
								</td>
                            </tr>
                            {/volist}
                            
                        </tbody>
                    </table>
					<!--
					<div class="form-group">
                        <div class="col-sm-4 col-sm-offset-3">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 确定</button>
                        </div>
                    </div>
					-->
                    
					{$page}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 加载动画 -->
{include file="public/footer" /}
<script type="text/javascript">
    //支付设置
    function edit_article(id){
        location.href = './config/id/'+id+'.html';
    }
    //删除项目
    function del_article(id){
        lunhui.confirm(id,'{:url("del_article")}');
    }
    $(document).on("click",".iradio_square-green",function(){
		var $this = $(this);
		var auth = $(this).prev().val();
		var id = $(this).prev().attr("data-id");
		var act;
		if($(this).prev().prop("checked") === true){
			act = 'cut';
		}else{
			act = 'add';
		}
		
		$.post("{:url('remind/edit_auth')}",{'id':id,'auth':auth,'act':act},function(data){
			if(data.code == 1){
				$this.hasClass("checked") ? $this.removeClass("checked"):$this.addClass("checked");
				$this.prev().prop("checked")?$this.prev().prop("checked",false):$this.prev().prop("checked",true);
			}else{
				layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
			}
		},'json')
        //$(this).hasClass("checked") ? $(this).removeClass("checked"):$(this).addClass("checked");
		//var status = $(this).prev().prop("checked");
		
    })
	function del_msg(id){
		layer.confirm('确认删除此消息模板?', {icon: 3, title:'提示'}, function(index){
			$.post("{:url('del')}",{'id':id},function(data){
				if(data){
					$("#tr_"+id).css('display','none');
					layer.msg('删除成功', {icon: 6,time:1000,shade: 0.1}, function(index){
						layer.close(index);
					});
				}else{
					layer.msg('删除失败', {icon: 5,time:1000,shade: 0.1}, function(index){
						layer.close(index);
					});
				}
			},'html')
            layer.close(index);
        })
		/*
		
		*/
		
	}
</script>
</body>
</html>
