{include file="public/header" /}
<style>
.file-item{float: left; position: relative; width: 110px;height: 110px; margin: 0 20px 20px 0; padding: 4px;}
.file-item .info{overflow: hidden;}
.uploader-list{width: 100%; overflow: hidden;}
.input-group[class*=col-]{
    float: left;
}
@media (max-width:768px) {
    .input-group[class*=col-]{
        float: none;
    }
}
.detail{
    line-height: 34px;
    color: #999
}

</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>短信提醒消息模板</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" name="edit" id="edit" method="post" action="slidecat">
                    <input type="hidden" name="id">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">短信标识：</label>
                            <div class="input-group col-sm-4" style="line-height: 34px;">
                                <span>认证成功</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">短信模板ID：</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="title" >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">短信模板：</label>
                            <div class="input-group col-sm-4">
                                <textarea type="text" rows="5" name="content" id="content"  class="form-control"></textarea>
                            </div>
                            <br>
                            <div class="col-sm-10 col-sm-offset-2 detail" style="color: #1ab394;padding-left: 0;margin-top: 5px;">请用#SITE_NAME#代替网站名称,#SITE_HOST#替代网站域名,"#user#"代替“用户名”;"#modelname#"代替“认证名称”;</div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-success" type="submit"><i class="fa fa-file-text"></i> 测试</button>&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

  {include file="public/footer" /}
<script type="text/javascript">

    $(function(){
        $('#edit').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });

        function checkForm(){
            if( '' == $.trim($('#title').val())){
                layer.msg('短信模板id为空', {icon: 5,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }
         }

        function complete(data){
            window.location.href="{:url('ad/template')}";
            // if(data.code == 1){
            //     layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
            //         layer.close(index);
            //         window.location.href="{:url('ad/slidecat')}";
            //     });
            // }else{
            //     layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1}, function(index){
            //         layer.close(index);
            //     });
            //     return false;
            // }
        }

    });
</script>
</body>
</html>
