{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/wapapp/shop/css/shopstyle.css">
</head>
<body>
<header id="header" class="mui-bar mui-bar-nav">
    <h1 class="mui-title">支付失败</h1>
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
</header>
<div class="mui-content firm-order">
    <div class="pay-result mui-text-center bg-whtie">
        <p class="p-icon bg-main"><span class="iconfont icon-cuo"></span></p>
        <p class="m-t color-main text-16">支付失败</p>
    </div>
    <div class="order-link mui-text-center">
        <a href="/wapapp/usercenter/buycoin" class="mui-btn mui-btn-primary">返回重试</a>
    </div>
</div>
{include file="public/footer" /}
</body>
</html>
