{include file="public/header" /}
<link rel="stylesheet" href="/static/wapapp/shop/css/index.css">
</head>

<body class="collection">
    <header id="header" class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">我的收藏</h1>
        <!-- <a class="mui-pull-right edit">编辑</a>
        <a class="mui-pull-right finish">完成</a> -->
    </header>
    <div class="mui-content">
        <ul class="mui-table-view goodslist">

        </ul>
        <div class="dropDown">
            <p>暂无更多收藏了~</p>
        </div>
        <!-- <div class="confirm delete">
            删除（<e>0</e>）
        </div> -->
    </div>
    <div class="noAttend" style="display: none;">
        <i class="iconfont icon-zanwu"></i>
        <p>您还没有收藏物品~</p>
    </div>
</body>
{include file="public/footer" /}
<script>
    seajs.use("/static/wapapp/shop/js/collection")
</script>
<script type="text/html" id="goodslist">
    <li class="mui-table-view-cell mui-media animated" data-id="[[goods_id]]" data-group="[[goods_group]]" style="position:relative;">
        <a class="list_a" href="/wapapp/goods/goods/group/[[goods_group]]/id/[[goods_id]]">
            <img class="mui-media-object mui-pull-left" src="[[original_img]]" alt="">
            <div class="mui-media-body">
                <p>[[goods_name]]</p>
                <p><span class="group_span">[[g_g]]</span></p>
                <!-- <div class="return-info">[[if exchange_integral_money]]<span class="exchange">羊币抵￥<e>[[exchange_integral_money]]</e></span>[[/if]][[if give_integral]]<span class="return-integral">购物返<e>[[give_integral]]</e>羊币</span>[[/if]]</div>
                <div class="goods-info"><span class="price">￥<e class="price-info">[[shop_price]]</e></span><span class="original-price">￥<e>[[market_price]]</e></span><span class="already-sale mui-pull-right"><e>[[sales_num]]</e>人付款</span></div> -->
            </div>
        </a>
        <p id="to_cancel" style="z-index:99;position: absolute;bottom: 15px;right: 15px;border:1px solid #999;border-radius:10px;padding:1px 5px;"><span>取消收藏</span></p>
    </li>
</script>

</html>