<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$seo.title|default="商城"}</title>
    <meta name="Keywords" content="{$seo.keywords|default='商城'}"/>
    <meta name="description" content="{$seo.description|default='商城'}" />
    <title>首页</title>
    <script>
        var UID = '{:get_uid()}';
        var PATH_URL = '';
        var SITE_URL = '/';
        var IS_WEIXIN = '{:is_weixin() ? 1 : 0}';
    </script>
    <link rel="stylesheet" href="/static/wapapp/public/css/mui.min.css">
    <link rel="stylesheet" href="/static/wapapp/public/css/swiper.min.css">
    <link rel="stylesheet" href="/static/wapapp/public/fonts/iconfont.css">
    <link rel="stylesheet" href="/static/wapapp/public/css/animate-3.5.css">
    <link rel="stylesheet" href="/static/wapapp/public/css/global.css">

<link rel="stylesheet" href="/static/wapapp/shop/css/shopstyle.css">
<style>
    /* .code,.repwd{display: none;} */
    
    input:-webkit-autofill {
        background-color: #fff!important;
    }
    
    .mui-slider-group {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    
    #item1mobile .code {
        width: 60%;
    }
    
    #item1mobile input {
        border-radius: 5px;
        font-size: 15px;
    }
    
    #sendbtn {
        border-radius: 25px;
        font-size: 14px;
        border: none;
        float: right;
        background: #00a2a8;
    }
    
    .mui-popup-title+.mui-popup-text {
        position: relative;
    }
</style>
</head>

<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">找回密码</h1>
    </header>
    <div class="mui-content">
        <!-- <div class="mui-slider find-password" data-slider="1">
        <div id="findPsdTab" class="mui-slider-indicator mui-segmented-control mui-segmented-control m-t">
            <a class="mui-control-item mui-active" href="#item1mobile" type="sms">
                手机号找回
            </a>
            <a class="mui-control-item" href="#item2mobile" type="email">
                邮箱找回
            </a>
        </div> -->
        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
                <form>
                    <input type="text" name="phone" id="data" class="data" placeholder="请输入手机号">
                    <!-- <input type="text" name="code" class="inp-code codehide" placeholder="动态码"> -->
                    <input type="text" name="code" id="verify" class="inp-code code" placeholder="验证码">
                    <a href="javascript:void(0)" class="mui-btn code-btn mui-badge-warning get-code" id="sendbtn">获取验证码 </a>
                    <!-- <input type="text" name="pwd" class="pwdhide" placeholder="请输入重置密码" autocomplete="new-password"> -->
                    <input type="password" id="repwd" name="pwd" class="repwd" placeholder="请输入重置密码" autocomplete="new-password">
                    <!-- <a href="javascript:void(0)" class="find-pwd-submit mui-block ">提 交</a> -->
                </form>
                <!-- <div class="color-666 m-t">
                    若您未绑定手机号，请选择邮箱找回
                </div> -->
                <div class="long_btn">
                    <button class="check">提交</button>
                </div>
            </div>
            <!-- <div id="item2mobile" class="mui-slider-item mui-control-content">
                <form>
                    <input type="text" name="email" class="data" placeholder="请输入邮箱">
                    <input type="text" name="code" class="inp-code codehide" placeholder="动态码">
                    <input type="text" name="code" class="inp-code code" placeholder="动态码">
                    <a href="javascript:void(0)" class="mui-btn code-btn mui-badge-warning get-code" id="sendbtn">获取动态码 </a>
                    <input type="password" name="pwd" class="pwdhide" placeholder="请输入重置密码" autocomplete="new-password">
                    <input type="password" name="pwd" class="repwd" placeholder="请输入重置密码" autocomplete="new-password">
                    <a href="javascript:void(0)" class="find-pwd-submit mui-block check">提 交</a>
                </form>
                <div class="color-666 m-t">
                    若您未绑定邮箱账号，请选择手机找回
                </div>
            </div> -->
        </div>
    </div>
    </div>
</body>
{include file="public/footer" /}
<script src="/static/mob/yang/js/jquery.3.1.1.js"></script>
<script src="/static/wapapp/public/libs/layer/layer.js" charset="utf-8"></script>
<script type="text/javascript">
    seajs.use(['/static/wapapp/shop/js/findPassword']);
</script>

</html>