{include file="public/header" /}
<link rel="stylesheet" href="__CSS__/shopstyle.css">
<style>
    /* .code,.repwd{display: none;} */
    input:-webkit-autofill{background-color: #fff!important;}
</style>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">找回密码</h1>
</header>
<div class="mui-content">
    <div class="mui-slider find-password" data-slider="1">
        <!-- <div id="findPsdTab" class="mui-slider-indicator mui-segmented-control mui-segmented-control m-t">
            <a class="mui-control-item mui-active" href="#item1mobile" type="sms">
                手机号找回
            </a>
            <a class="mui-control-item" href="#item2mobile" type="email">
                邮箱找回
            </a>
        </div> -->
        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
                <form>
                    <input type="text" name="phone" class="data" placeholder="请输入手机号">
                    <!-- <input type="text" name="code" class="inp-code codehide" placeholder="动态码"> -->
                    <input type="text" name="code" class="inp-code code" placeholder="动态码">
                    <a href="javascript:void(0)" class="mui-btn code-btn mui-badge-warning get-code" id="sendbtn">获取动态码 </a>
                    <!-- <input type="text" name="pwd" class="pwdhide" placeholder="请输入重置密码" autocomplete="new-password"> -->
                    <input type="password" name="pwd" class="repwd" placeholder="请输入重置密码" autocomplete="new-password">
                    <a href="javascript:void(0)" class="find-pwd-submit mui-block check">提 交</a>
                </form>
                <!-- <div class="color-666 m-t">
                    若您未绑定手机号，请选择邮箱找回
                </div> -->
            </div>
            <!-- <div id="item2mobile" class="mui-slider-item mui-control-content">
                <form>
                    <input type="text" name="email" class="data" placeholder="请输入邮箱">
                    <input type="text" name="code" class="inp-code codehide" placeholder="动态码">
                    <input type="text" name="code" class="inp-code code" placeholder="动态码">
                    <a href="javascript:void(0)" class="mui-btn code-btn mui-badge-warning get-code" id="sendbtn">获取动态码 </a>
                    <input type="password" name="pwd" class="pwdhide" placeholder="请输入重置密码" autocomplete="new-password">
                    <input type="password" name="pwd" class="repwd" placeholder="请输入重置密码" autocomplete="new-password">
                    <a href="javascript:void(0)" class="find-pwd-submit mui-block check">提 交</a>
                </form>
                <div class="color-666 m-t">
                    若您未绑定邮箱账号，请选择手机找回
                </div>
            </div> -->
        </div>
    </div>
</div>
</body>
{include file="public/footer" /}
<script type="text/javascript">
seajs.use(['shop/js/findPassword']);
</script>
</html>
