.iradio_square-green{
    position: relative;
    left: -8px;
}
.iradio_square-green:hover{
    background-position:-144px 0;
}
.iradio_square-green.checked {
    background-position: -168px 0;
}
.form-group>div{
    float: none;
}
