{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>【{$prize.title}】奖品列表</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-12">   
                <div  class="col-sm-2" style="width: 100px">
                    <div class="input-group" >  
                        <a href="{:url('add_goods','pid='.$prize['id'])}"><button class="btn btn-outline btn-primary" type="button">添加奖品</button></a>
                    </div>
                </div>
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>
            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th>ID</th>
                                <th>奖品名称</th>
                                <th>奖品数量</th>
                                <th>剩余数量</th>
                                <th>中奖概率</th>
                                <th>奖品价值</th>
                                <th>排序</th>
                                <th width="20%">操作</th>
                            </tr>
                        </thead>
                        {volist name='list' id='v'}
                        <tr class="long-td">
                            <td>{$v.id}</td>
                            <td>{$v.name}</td>
                            <td>{$v.num}</td>
                            <td>{$v.left_num}</td>
                            <td>{$v.rate}</td>
                            <td>{$v.price}</td>
                            <td>{$v.order}</td>
                            <td>
                                <a href="{:url('edit_goods', ['id' => $v['id']])}" class="btn btn-primary btn-outline btn-xs">
                                    <i class="fa fa-paste"></i> 编辑</a>&nbsp;&nbsp;
                                <a href="javascript:;" onclick="del({$v.id})" class="btn btn-danger btn-outline btn-xs">
                                    <i class="fa fa-trash-o"></i> 删除</a>
                            </td>
                        </tr>
                        {/volist}
                    </table>
                    <div style="text-align:center;">
                        {$list->render()}
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>

{include file="public/footer" /}

<script type="text/javascript">

//删除
function del(id){
    var url = '{:url("del_goods")}';
    layer.confirm('确认删除此条记录吗?', {icon: 3, title:'提示'}, function(index){
        $.getJSON(url, {'id' : id}, function(res){
            if(res.code == 1){
                layer.msg(res.msg,{icon:1,time:1500,shade: 0.1});
                setTimeout(function(){
                    window.location.reload();
                },1500);
            }else{
                layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
            }
        });
        layer.close(index);
    })
}
</script>
</body>
</html>