{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<style>
.file-item{float: left; position: relative; width: 110px;height: 110px; margin: 0 20px 20px 0; padding: 4px;}
.file-item .info{overflow: hidden;}
.uploader-list{width: 100%; overflow: hidden;}
.input-group[class*=col-]{
    float: left;
}
@media (max-width:768px) {
    .input-group[class*=col-]{
        float: none;
    }
}
.detail{
    line-height: 34px;
    color: #999
}

</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑品牌</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" name="userAdd" id="userAdd" method="post" action="{:url('editGoodsBrand')}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">品牌名称：</label>
                            <div class="input-group col-sm-4">
                                <input id="name" type="text" class="form-control" name="name" value="{$info.name}">
                                <input type="hidden" name="id" value="{$info.id}">
                            </div>
                            <div class="col-sm-4 detail">*</div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">品牌网址：</label>
                            <div class="input-group col-sm-4">
                                <input id="mobile_name" type="text" class="form-control" name="url" value="{$info.url}">
                            </div>
                            <div class="col-sm-4 detail">*</div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <input type="hidden" name="parent_cat_id" value="0">
                        <input type="hidden" name="cat_id" value="0">
                        <!--<div class="form-group">
                            <label class="col-sm-3 control-label">所属顶级分类：</label>
                            <div class="input-group col-sm-4">
                                <select class="form-control m-b chosen-select" name="parent_cat_id" id="parent_id_1">
                                    <option value="0">请选择所属顶级分类,必选</option>
                                    {foreach name="categoryList" item="vo"}
                                    <option value="{$vo.id}" {if condition="$info->parent_cat_id == $vo->id"}selected="selected"{/if}>{$vo.name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属二级分类：</label>
                            <div class="input-group col-sm-4">
                                <select class="form-control m-b " name="cat_id" id="parent_id_2">
                                    <option value="0">请选择所属二级分类,非必选</option>

                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>-->

                        <div class="form-group">
                            <label class="col-sm-3 control-label">品牌Logo：</label>
                            <div class="input-group col-sm-4">
                                <input type="hidden" id="data_photo" name="logo" value="{$info.logo}">
                                <div id="fileList" class="uploader-list" style="float:right"></div>
                                <div id="imgPicker" style="float:left">选择图片</div>
                                <img id="img_data"  height="98px" width="152px" style="float:left;margin-left: 50px;margin-top: -10px;" src="{if condition='!$info->logo'}/static/admin/images/no_img.jpg{else/}{$info->logo}{/if}"/>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">品牌描述：</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" rows="5" placeholder="" name="desc">{$info.desc}</textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否推荐：</label>
                            <div class="col-sm-6">
                                <div class="radio i-checks">
                                    <input type="radio" name='is_recom' value="0" {if $info->is_recom == 0}checked="checked"{/if}/>否&nbsp;&nbsp;
                                    <input type="radio" name='is_recom' value="1" {if $info->is_recom == 1}checked="checked"{/if}/>是
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>

<script type="text/javascript">
    var $list = $('#fileList');
    //上传图片,初始化WebUploader
    var uploader = WebUploader.create({

        auto: true,// 选完文件后，是否自动上传。
        swf: '/static/admin/webupload/Uploader.swf',// swf文件路径
        server: "{:url('Upload/upload2qiniu')}",// 文件接收服务端。
        duplicate :true,// 重复上传图片，true为可重复false为不可重复
        pick: '#imgPicker',// 选择文件的按钮。可选。

        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/jpg,image/jpeg,image/png'
        },

        'onUploadSuccess': function(file, data, response) {
            if (data.code == 0) {
                layer.msg(data.data, {icon: 5,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }
            $("#data_photo").val(data.data);
            $("#img_data").attr('src', data.data).show();
        }
    });

    uploader.on( 'fileQueued', function( file ) {
        $list.html( '<div id="' + file.id + '" class="item">' +
                '<h4 class="info">' + file.name + '</h4>' +
                '<p class="state">正在上传...</p>' +
                '</div>' );
    });

    // 文件上传成功
    uploader.on( 'uploadSuccess', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传成功！');
    });

    // 文件上传失败，显示上传出错。
    uploader.on( 'uploadError', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传出错!');
    });
    //提交
    $(function(){
        $('#userAdd').ajaxForm({
            beforeSubmit: checkForm,
            success: complete,
            dataType: 'json'
        });

        function checkForm(){
            if( !$.trim($('#name').val())){
                layer.msg('品牌名称必须填写',{icon:2,time:1500,shade: 0.1}, function(index){
                layer.close(index);
                });
                return false;
            }
        }


        function complete(data){
             //window.location.href="{:url('goodsType')}";
             if(data.code==1){
                 layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                     window.location.href = "{$backUrl}";
                 });
             }else{
                 layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1});
                 return false;
             }
        }

    });



    //IOS开关样式配置
   var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
    var config = {
        '.chosen-select': {},
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

    //ajax获取二级分类
    $("#parent_id_1").change(function(){
        var url = "{:url('ajaxGetCategory')}";
        var pid = $(this).val();
        if(!pid){
            return false;
        }
        var cat_id = "{$info.cat_id}";
        $.getJSON(url, {pid : pid}, function(data){
            var option = '<option value="">请选择二级分类，如果添加的分类为二级分类，不选即可</option>';
            if (data.code == 1) {
                $(data.msg).each(function(k, v){
                    var selected = '';
                    if(cat_id == v.id){
                        selected = "selected = 'selected'";
                    }
                    option += '<option value="'+ v.id +'" '+selected+'>'+ v.name +'</option>';
                })

            }
            $("#parent_id_2").html(option);
        })
    })
    $("#parent_id_1").trigger('change');

</script>
</body>
</html>
