{include file="public/header" /}
<link rel="stylesheet" href="__CSS__/index.css">
<style>
        .screen span{
            width: 33.3%;
        }
        </style>
</head>
<body class="searchlist">
    <header id="header" class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <div class="mui-title mui-input-row mui-search">
                <input id="searchInput" type="search" class="mui-input-clear" placeholder="搜索全部商品" value="***">
            </div>
        <a class="mui-pull-right cancel search">搜索</a>
    </header>
    <div class="mui-row screen">
        <span class="mui-col-xs-3 active" data-orderby="colligate"><e>综合</e></span>
        <span class="mui-col-xs-3" data-orderby="sales_num"><e>销量</e></span>
        <span class="mui-col-xs-3 price-span" data-orderby="shop_price"><e>价格<img class="shengjiangxu" src="__IMG__/shengjiangxu.png" alt=""><img class="shengxu" src="__IMG__/shengxu.png" alt=""><img class="jiangxu" src="__IMG__/jiangxu.png" alt=""></e></span>
        <!-- <a href="#searchSpec" class="mui-col-xs-3" style="text-align:center"><e>筛选</e></a> -->
    </div>
    <div class="mui-content">
        <ul class="mui-table-view" id="goodsWrap">

        </ul>
        <div class="noAttend" style="display: none;background-color:#f4f4f4">
            <i class="iconfont icon-zanwu"></i>
            <p>没有搜索结果，试试搜索别的吧~</p>
        </div>
        <div class="dropDown">
            <p>暂无更多商品了，到别处看看</p>
        </div>
        <div id="searchSpec" class="spec mui-popover mui-popover-action mui-popover-bottom">
            <div style="padding: 10px;">
                <div class="specWrap">
                    <!-- <div class="goods-attribute">
                        <p>颜色</p>
                        <p><span class="selected">卡其色</span><span>米白色</span><span>酒红色</span><span>深空灰</span><span>抹茶绿</span></p>
                    </div>
                    <div class="goods-attribute">
                        <p>尺码</p>
                        <p><span>M</span><span class="selected">L</span><span>XL</span></p>
                    </div> -->
                </div>
            </div>
            <div class="mui-row search-option">
                <a class="add reset mui-col-xs-6"><span class="">重置</span></a>
                <a class="buy mui-col-xs-6" href="#searchSpec"><span class="">完成</span></a>
            </div>
        </div>
    </div>
</body>
{include file="public/footer" /}
<script type="text/javascript">
    var searchname =  "{:input('searchname')}";
    seajs.use("__JS__/searchlist_name")
</script>
<script type="text/html" id="goodslist">
    <li class="mui-table-view-cell mui-media" >
        <a href="/wap/goods/goods/id/[[id]]">
            <img class="mui-media-object mui-pull-left" src="[[original_img]]" alt="">
            <div class="mui-media-body" style="position: relative;height: 88px;">
                <p>[[goods_name]]</p>
                <div class="return-info">[[if exchange_integral_money]]<span class="exchange">羊币抵￥<e>[[exchange_integral_money]]</e></span>[[/if]][[if give_integral]]<span class="return-integral">购物返<e>[[give_integral]]</e>羊币</span>[[/if]]</div>
                <div style="position: absolute;bottom: 0;width:100%;"><span class="price">￥<e class="price-info">[[shop_price]]</e></span><span class="original-price">￥<e>[[market_price]]</e></span><span class="already-sale mui-pull-right"><e>[[sales_num]]</e>人付款</span></div>
            </div>
        </a>
    </li>
</script>
</html>
