{include file="public/header" /}
<link rel="stylesheet" href="/static/wapapp/shop/css/shopstyle.css">
</head>

<body class="bg-white">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <!-- <a class="mui-btn mui-btn-link mui-pull-right" href="register.html">注册</a> -->
        <h1 class="mui-title">注册协议</h1>
    </header>
    <div class="mui-content login-content">
        <div class="mui-content-padded">
            <h4 style=" padding:8px 0;text-align:center;">用户注册与服务协议</h4>
            <p>
                <span style="font-family:Calibri;font-size:14px">&nbsp;</span>
            </p>

            <p style="line-height:150%">
                一、总则
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">1、根据《中华人民共和国合同法》及有关法律法规的规定，甲乙双方本着公平公正、自愿诚信及互惠互利的原则签订本协议。</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">2、甲方自愿购买乙方产品成为经销商并代理乙方产品进行销售，自愿遵守河南省天佑众成实业有限公司各项规章制度。</span></span>
            </p>
            <p style="line-height:150%">
                二、甲方权利
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">1、甲方有权使用乙方授权范围内的商标、标识形象设计及乙方提供的相关技术和商业模式的权利。</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">2、甲方有权使用乙方“天佑众成电子商务服务平台”的权利；</span></span>
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">3、甲方有拓展业务并获得相应报酬的权利（业务含扩展会员、服务推广、成品对接、广告对接及开设天佑众成产品体验中心等），出局期间仍有获得收回投资的权利；</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">4、根据乙方年度经营有盈余时获得乙方特别佣金和公司上市时配购原始股票的权利（相关方案见公司适时文件）；</span></span>
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">5、甲方有获得乙方所提供的技术培训和业务指导的权利；</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">6、甲方对乙方重大战略和业务变更有知情和建议的权利。</span></span>
            </p>
             <p style="line-height:150%">
                三、甲方义务
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">1、甲方承诺将在国家法律和地方法规允许的范围内开展业务活动，从代理乙方业务第二个月开始有义务推广平台代理商1个或购买乙方平台产品1件，第三个月仍没有销售业绩的自动放弃乙方给与的所有权利；</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">2、甲方承诺积极开展业务包括扩展会员、服务推广、产品对接、广告对接及开设天佑众成产品体验中心等）；</span></span>
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">3、协议期内甲方不得向与乙方构成商业竞争关系的自然人、企业或其他组织机构提供乙方的任何技术、业务信息等资料；</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">4、甲方有义务保护乙方的知识产权，规范的使用乙方的商标知识；</span></span>
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">5、涉及甲方的各种税费由甲方自己承担。</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">6、协议期间甲方不得经营同行业其他公司业务。</span></span>
            </p>
             <p style="line-height:150%">
                四、乙方权利
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">1、乙方有对甲方进行业绩考核的权利，如果甲方没有完成乙方考核，乙方有权随时终止协议；</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">2、乙方有对甲方的业务进行监督和指导的权利；</span></span>
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">3、乙方有定期或不定期进行业务检查并提出整改措施的权利；</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">4、乙方发现甲方违反保密义务有追究甲方相应责任，要求甲方承担赔偿责任的权利；</span></span>
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">5、乙方有要求甲方接受乙方企业文化和员工培训方案的权利。</span></span>
            </p>
            <p style="line-height:150%">
                五、乙方义务
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">1、乙方不定期向甲方提供业务范围内的技术支持，培训和业务指导；</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">2、乙方根据甲方申请派人到甲方组织的会议上进行项目宣讲活动；</span></span>
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">3、乙方负责为甲方提供相关的业务管理、利益分配系统；</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">4、乙方应在重大战略调整和业务变动时和甲方沟通信息。</span></span>
            </p>
            <p style="line-height:150%">
                六、协议期限
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">本协议有效期为一年。</span></span>
            </p>
             <p style="line-height:150%">
                七、知识产权
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">1、“天佑众成”属于国家注册商标，知识产权属于乙方所有，受国家法律保护；</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">2、凡带有“天佑众成”相关标识均属乙方所有，未经乙方事先专项授权，甲方不得有一下行为；</span></span>
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">（1）使用“天佑众成”名称商标等涉及公司知识产权的内容、标识进行工商登记注册，招商广告等；</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">（2）使用乙方提供的标识用于本协议以外的任何交易；</span></span>
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">（3）擅自印刷“天佑众成”商标、标识及相关的广告发布；</span></span>
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">（4）擅自改变“天佑众成”统一形象，制作招牌、灯箱等相关标识；</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">（5）超越本协议规定的运营权限（运营性质、运营范围），擅自制作“天佑众成”总部、总运营、代表处的证书、文件、名片等进行经营活动。</span></span>
            </p>
             <p style="line-height:150%">
                八、违约与终止协议
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">1、甲方不论任何原因丧失民事行为能力或身故本协议终止；</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">2、甲方或乙方因不可抗力而不能履行协议，本协议终止；</span></span>
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">3、如甲方违背本协议约定条款进行违法经营、侵犯乙方知识产权，严重侵害乙方利益的，乙方有权随时终止协议，同时承担给乙方造成的经济损失，造成后果严重的乙方保留追究甲方刑事责任的权利；</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">4、甲方未按规定完成乙方规定的销售业绩被乙方取消代理资格的本协议终止；</span></span>
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">5、甲方因不满乙方公司规定或相关政策发布损害公司名誉言论、实施损害公司利益行为后果严重的，本协议终止。</span></span>
            </p>
            <p style="line-height:150%">
                九、不可抗力及免责条件
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">1、如发生地震、、地陷、瘟疫、海啸等自然灾害事故致使甲乙双方不能履行约定义务的本协议终止，因此造成的损失双方各自承担自己损失，互不承担违约责任；</span></span>
            </p>
             <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">2、鉴于计算机互联网特性，因黑客、病毒、电信部门技术或政策调整等引起的网络中断不属于乙方责任，因此造成甲方损失乙方不承担任何赔偿责任。</span></span>
            </p>
           <p style="line-height:150%">
                十、争议解决
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">在合同履行过程中发生争议，甲乙双方应首先通过友好协商解决，如果协商不成的，任何一方可向乙方公司住所地人民法院提起诉讼。</span></span>
            </p>
            <p style="line-height:150%">
                十一、生效条件
            </p>
            <p style="line-height:150%">
                <span style="font-family:Calibri;font-size:14px"><span style="font-family:宋体">本协议有文字版、电子版两种形式，甲、乙双方选择任何一款形式签字、注册均可，合同自甲方注册之日起生效。</span></span>
            </p>
            

            <p style="text-align: center;"><a href="javascript:history.back();" style="color: rgb(255,0,0);">阅读完毕，继续注册</a></p>
        </div>
    </div>
</body>
{include file="public/footer" /}
<script type="text/javascript">
    seajs.use(['/static/wapapp/shop/js/login']);
</script>

</html>