{include file="public/header" /}
<link rel="stylesheet" href="/static/wapapp/shop/css/shopstyle.css">
</head>
<style>
    html {
        background-color: #fff;
    }
    
    .login-block {
        margin: 20px 26px;
    }
    
    .top_img {
        margin: 50px 0;
    }
</style>

<body class="bg-white">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <a id="go_login" class="mui-btn mui-btn-link mui-pull-right color-lanhui" href="javascript:;">登录</a>
        <h1 class="mui-title">账号注册</h1>
    </header>
    <div class="mui-content login-content">
        <div class="top_img">
            <img src="__IMG__/logo.png" alt="" style="width:20%;border-radius: 10px;">
        </div>
        <div class="login-block">
            <div class="inp-div"><span class=" iconfont icon-crmtubiao32"></span><input id="account" type="text" name="account" class="input-login mobile-num" placeholder="请输入账户名称"></div>
            <div class="inp-div"><span class=" iconfont icon-mima"></span><input id="password" type="password" name="password" placeholder="请输入密码" class="input-login"></div>
            <div class="inp-div"><span class="iconfont icon-fenxiang"></span><input type="text" name="tmobile" value="" placeholder="推荐人邀请码" class="input-login" id="rcode"></div>
            <!-- <div class="inp-div" style="margin-bottom: 5px;"><span class=" iconfont icon-mima"></span><input type="password" name="repassword" placeholder="请输入确认密码" class="input-login"></div> -->
            <div class="protocol">
                <div class="mui-input-row mui-checkbox mui-pull-left">
                    <input name="agree" type="checkbox" value="agree" checked=""><label class="text-16">同意</label>
                </div>
                <a href="/wapapp/index/protocol" class="color-main text-16" title="">《用户协议》</a>
            </div>
        </div>
        <div class="long_btn">
            <button id="register" class="tosubmit" type="button">注册</button>
        </div>
    </div>
</body>
{include file="public/footer" /}

<script src="/static/mob/yang/js/jquery.3.1.1.js"></script>
<script type="text/javascript">
    seajs.use(['/static/wapapp/shop/js/register']);

    function getParams(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    var id = getParams('rcode');
    if (id != '' && id != undefined) {
        $('#rcode').val(id);
        $('#rcode').attr('readonly', true);
        $('#go_login').hide();
        $('.protocol').hide();
    }
</script>

</html>