<footer>
    <div class="container">
        <div class="wrap">
            <ul class="contact clearfix">
                <li value="1" ></li>
                <li value="2" class="active"></li>
                <li value="3"></li>
            </ul>
            <p class="phone word focus1">联系电话：0991-5301929  15389915599</p>
            <p class="wechat word focus2">QQ:262386640    微信号：xiangzi-888888</p>
            <p class="address word focus3">河南自贸试验区郑州片区(郑东)中兴南路与福禄路交叉口连邦大厦1203号</p>
        </div>
        <div class="wrap">
            <div style="text-align:center;font-size:8px;" >
            <!-- {function name="app_conf" value="SHOP_FOOTER"} -->
                <div class="company">
                    <p>copyriht&nbsp;©2019&nbsp;郑州罗布羊科技有限公司&nbsp;All Rights Reserved&nbsp;豫ICP备18045588号-1</p>
                </div>
            </div>
        </div>
    </div>
</footer>