<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>摄像头列表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/wapapp/yang/css/base.css" />

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" href="/static/wapapp/public/css/mui.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/wapapp/yang/css/index.css" />
    <script>
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 720*100 + 'px';
    </script>
</head>
<body>
<div id="app">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" @click="back" style="color: #333!important;"></a>
        <h1 class="mui-title">摄像头列表</h1>
    </header>
    <div class="camera-list"  v-cloak>
        <div class="camera-item" @click="cameraDatial(item.id)" v-for="item in list">
            <img :src="item.photo" alt="">
            <p v-cloak>{{item.title}}</p>
        </div>
    </div>
    <!--<div class="footer-bar">-->
        <!--<div class="tab-item home active" @click="home">-->
            <!--首页-->
        <!--</div>-->
        <!--<div class="logo" @click="gotoGame"></div>-->
        <!--<div class="tab-item my" @click="my">-->
            <!--我的-->
        <!--</div>-->
    <!--</div>-->
</div>    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                list: []
            },
            created() {
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                var that = this
                this.getCameraList().then(function(res) {
                    that.list = res.data.data
                })
            },
            methods: {
                back() {
                    window.history.back()
                },
                getCameraList() {
                    let that = this
                    that.$indicator.open('加载中...');
                    return new Promise(function(resolve, reject) {

                        axios({
                            url: '/api/yangyang/camera_lists'
                        }).then(function(res) {
                            that.$indicator.close();
                            resolve(res)
                            
                        }).catch(function(err) {
                            that.$indicator.close();
                            console.log(err)
                            reject(err)
                        })
                    })
                },
                cameraDatial(id) {
                    window.location.href = `/wapapp/yang/camera?id=${id}`
                },
                home() {
                    window.location.href = '/wapapp/yang'
                },
                gotoGame() {
                    window.location.href = '/wapapp/yang/game'
                },
                my() {
                    window.location.href = '/wapapp/usercenter/usercenter.html'
                }
            },
        })
    </script>
</body>
</html>