<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>好友牧场</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/wapapp/yang/css/base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/wapapp/yang/css/game.css?v=2" />
    <script>
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 720 * 100 + 'px';
        var UID = '{:get_uid()}';
        var PATH_URL = '';
        var SITE_URL = '/';
        var IS_WEIXIN = '{:is_weixin() ? 1 : 0}';
        if(UID < 1) {
            window.location.href = '/wapapp/index/login.html'
        }
    </script>
      <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" >
        <div class="game-bg"  v-cloak>
            <div class="left">
                <div class="avatar-bg">
                    <div class="avatar">
                        <img :src="userInfo.head_img" class="avatar-img" alt="">
                    </div>

                </div>
                <div class="btns">
                    <div class="btn help" @click="handleBangzhu"></div>
                    <div class="btn notice" @click="handleGonggao"></div>
                    <div class="btn task" v-if="false" @click="handleWenzhang"></div>
                </div>
            </div>
            <div class="yangqun">
                <img class="hidden" src="/static/mob/yang/imgs/game/yangqun.png" alt="">
                <div v-for="(item, index) in yangLists" class="yang" :class="`yang${item.index}`" @click="yangInfo(item.id)">
                    <div class="stateTip state3" v-if="item.yang_sick == 1"></div>
                    <div class="stateTip state2" v-if="item.yang_hunger == 1"></div>
                </div>
                <!-- <div class="yang yang1" ></div>
                <div class="yang yang2" ></div>
                <div class="yang yang3" ></div>
                <div class="yang yang4" ></div>
                <div class="yang yang5" ></div>
                <div class="yang yang6" ></div>
                <div class="yang yang7" ></div>
                <div class="yang yang8" ></div>
                <div class="yang yang9" ></div>
                <div class="yang yang10" ></div>
                <div class="yang yang11" ></div>
                <div class="yang yang12" ></div>
                <div class="yang yang13" ></div>
                <div class="yang yang14" ></div>
                <div class="yang yang15" ></div>
                <div class="yang yang16" ></div>
                <div class="yang yang17" ></div>
                <div class="yang yang18" ></div>
                <div class="yang yang19" ></div>
                <div class="yang yang20" ></div> -->
            </div>
            <div class="status">
                <span v-cloak>{{yangLists.length}}/{{myInfo.max_num}}</span>
            </div>

            <!-- <div class="money"><span v-cloak>{{userInfo.integral}}</span></div> -->
            <!-- <div class="yang_yao"><span v-cloak>{{userInfo.drug_count}}</span></div> -->
            <div class="footer-bg">
                <div class="shuicao" v-if="isShuicao"></div>
                <div class="footer">
                    <!-- <div class="navbar-item active" @click="handleShare" data-text="分享">
                        <div class="text fenxiang">分享</div>
                    </div>
                    <div class="navbar-item" @click="handleRenyang" data-text="认养">
                        <div class="text renyang">认养</div>
                    </div>
                    <div class="navbar-item" @click="handleYiliao" data-text="医疗">
                        <div class="text yiliao">医疗</div>
                    </div>
                    <div class="navbar-item" @click="handleShangcheng" data-text="商城">
                        <div class="text shangcheng">商城</div>
                    </div> -->
                    <div class="navbar-item" @click="to_index" data-text="首页">
                        <div class="text to_index">首页</div>
                    </div>
                    <div class="navbar-item" @click="my_game" data-text="我的牧场">
                        <div class="text my_game">我的牧场</div>
                    </div>
                    <div class="navbar-item" @click="remind" data-text="提醒好友">
                        <div class="text to_notice">提醒好友</div>
                    </div>
                    <div class="navbar-item" @click="to_usercenter" data-text="会员中心">
                        <div class="text to_usercenter">会员中心</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 公告弹窗 -->
        <div class="g-dialog" v-cloak v-if="dialogName == 'Gonggao'">
            <div class="g-dialog-title">
                公告
                <div class="close" @click="closeDialog"></div>
            </div>
            <div class="g-dialog-box">
                <span class="title">{{notice.title}}</span>
                <span class="time">{{new Date(notice.create_time*1000).Format("yyyy-MM-dd hh:mm")}}</span>
                <div class="gonggao-box"  style="max-height: 400px;overflow: auto">{{notice.remark}}</div>
                <p id="look_more" @click="look_more" style="text-align:center;padding:10px 0 0 0;color:#7ea935;"><b>查看更多>></b> </p>
            </div>
        </div>
        <!-- 帮助弹窗 -->
        <div class="g-dialog" v-cloak v-if="dialogName == 'Bangzhu'">
            <div class="g-dialog-title">
                帮助
                <div class="close" @click="closeDialog"></div>
            </div>
            <div class="g-dialog-box">
                <span class="title">{{help.title}}</span>
                <span class="time">{{new Date(help.create_time*1000).Format("yyyy-MM-dd hh:mm")}}</span>
                <div class="gonggao-box" style="max-height: 400px;overflow: auto">{{help.remark}}</div>
                <p id="look_more"  @click="look_more"  style="text-align:center;padding:10px 0 0 0;color:#7ea935;"><b>查看更多>></b> </p>
            </div>
        </div>
        <!-- 文章弹窗 -->
        <div class="g-dialog" v-cloak v-if="dialogName == 'Wenzhang'">
            <div class="g-dialog-title">
                文章
                <div class="close" @click="closeDialog"></div>
            </div>
            <div class="g-dialog-box">
                <span class="title">文章标题</span>
                <span class="time">2018-05-30</span>
                <div class="gonggao-box">内容巴啦啦啦啦啦啦啦啦啦啦啦阿拉蕾了内容巴啦啦啦啦啦啦啦啦啦啦啦阿拉蕾了</div>
            </div>
        </div>
        <!-- 医疗弹窗 -->
        <div class="yiliao-dialog" v-cloak v-if="dialogName == 'Yiliao'">
            <div class="yiliao-dialog-title">
                <div class="close" @click="closeDialog"></div>
            </div>
            <div class="yiliao-dialog-box">
                <div class='price' @click="buy(1)">CNY
                    <span>6.00</span>
                </div>
                <div class='price' @click="buy(2)">CNY
                    <span>6.00</span>
                </div>
                <div class='price' @click="buy(3)">CNY
                    <span>6.00</span>
                </div>
            </div>
        </div>
        <!-- 认养弹窗 -->
        <div class="renyang-mask" v-cloak v-if="dialogName == 'Renyang'">
            <div class="renyang-dialog">
                <div class="renyang-dialog-title">
                    <div class="close" @click="closeDialog"></div>
                </div>
                <div class="renyang-dialog-box">1</div>
            </div>
        </div>
        <!-- 商城弹窗 -->
        <div class="shangcheng-mask" v-cloak v-if="dialogName == 'Shangcheng'">
            <div class="shangcheng-dialog">
                <div class="shangcheng-dialog-title">
                    <div class="close" @click="closeDialog"></div>
                </div>
                <div class="shangcheng-dialog-box">1</div>
            </div>
        </div>
        <!-- 提示 -->
        <div class="g-alert-mask" v-cloak v-if="alert.show">
            <div class="g-alert">
                <div class="g-alert-text">{{alert.msg}}</div>
                <div class="g-alert-btns">
                    <div @click="btn1Callback" class="g-alert-btn btn1" v-if="alert.btns[0]" v-cloak>{{alert.btns[0]}}</div>
                    <div @click="btn2Callback" class="g-alert-btn btn2" v-if="alert.btns[0]" v-cloak>{{alert.btns[1]}}</div>
                </div>
            </div>
        </div>
        <!-- 提示 -->
        <div class="g-alert-mask" v-cloak v-if="toast.show">
            <div class="g-alert">
                <div class="g-alert-text">{{toast.msg}}</div>
                <div class="g-alert-btns">
                    <div @click="btn1_callback" class="g-alert-btn btn1" v-if="toast.btns[0]" v-cloak>{{toast.btns[0]}}</div>
                    <div @click="btn2_callback" class="g-alert-btn btn2" v-if="toast.btns[0]" v-cloak>{{toast.btns[1]}}</div>
                </div>
            </div>
        </div>
        <!-- 分享弹窗 -->
        <div class="share-bg" v-cloak v-if="dialogName == 'Share'">
            <div class="close" @click="closeDialog"></div>
            <div class="share-box"></div>
            <div class="footer-btn">
                <div class="pengyouquan"></div>
                <div class="weixin"></div>
            </div>
        </div>
        <!-- 羊信息 -->
        <div class="yang-info-mask" @click="closeDialog" v-cloak v-if="dialogName == 'yangInfo'" v-cloak>
            <div class="yang-info">

                <div class="info-title" v-cloak>
                小羊{{yang.id}}
                </div>

                <div class="info-box">
                    <div class="yang"></div>
                    <!-- <div class="time" v-cloak>{{yang.count_rebate}}</div> -->
                    <div class="time" v-cloak style="width:auto">喂养：{{yang.share_num}}</div>
                    <div class="state" v-if="yang.yang_hunger  == 0">饱</div>
                    <div class="state" v-if="yang.yang_hunger  == 1">饿</div>
                    <div class="list">
                        <div class="time-item">生长状况：
                            <span class="zise" v-if="yang.yang_sick == 0">健康</span>
                            <span class="zise" v-if="yang.yang_sick == 1">生病</span>
                            <div class="yao"  v-if="yang.yang_sick == 1"></div>
                        </div>
                        <div class="time-item">成熟时间：
                            <span class="hongse" v-cloak>{{format(yang.end_date)}}</span>
                        </div>
                        <div class="time-item">购买时间：
                            <span v-cloak>{{format(yang.start_date)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="shareTip" v-if="!isShuicao">点击分享即可获得每日饲料~</div> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/static/wapapp/yang/js/jquery.3.1.1.js"></script>
    <script src="/static/wapapp/yang/js/common.js"></script>

    <script>
    Date.prototype.Format = function (fmt) { //author: meizz 
        var o = {
            "M+": this.getMonth() + 1, //月份 
            "d+": this.getDate(), //日 
            "h+": this.getHours(), //小时 
            "m+": this.getMinutes(), //分 
            "s+": this.getSeconds(), //秒 
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
            "S": this.getMilliseconds() //毫秒 
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    function getParams(name) { 
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
        var r = window.location.search.substr(1).match(reg); 
        if (r != null) return unescape(r[2]); return null; 
   }
    var str =getParams('id');
    // alert(id);
    var wxConfig = {
          debug: false,
          appId: 'wxf8b4f85f3a794e77',
          timestamp: 1527756223,
          nonceStr: 'dNN1k2x6xTv9wyMU',
          signature: 'e0c5ee2d5c6d2bbd904c55d8a50ac515e00993f0',
          jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage'
          ]
      }
        var app = new Vue({
            el: '#app',
            data: {
                isShuicao: true,
                isstatus: '',
                dialogName: '',
                yangLists: [],
                yang: {},
                timer: null,
                alert: {
                    show: false,
                    btns: ['', ],
                    msg: ''
                },
                toast: {
                    show: false,
                    btns: ['', ],
                    msg: ''
                },
                userInfo: {},
                myInfo: {},
                help:{},
                notice:{},
                usermobile:'',
                status:'',
                smsinfo:''
            },
            created() {
                axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';

                this.getUserInfo();


                this.getmyInfo();

                this.getYanglist();


                this.gethelp();

                
                this.getnotice();


                this.getstatus();
                // 用户信息
                // var userInfo = window.localStorage.getItem('userData');
                // if(!userInfo) {
                //     this.alert = {
                //         msg: '未登录，请先登录',
                //         show: true,
                //         btns: ['知道啦', '前往登录']
                //     }
                // } else {
                //     this.userInfo = JSON.parse(userInfo);
                // }
                // 调用微信SDK
                wx.ready(this.wxConfig)
            },
            methods: {

                getUserInfo() {
                    var that = this
                    this.http({
                        url: '/api/user/hymember_yang',
                        params: {
                            yuid: str
                        }
                    }).then(function(res) {
                        that.userInfo = {
                            head_img: res.data.data.head_img,
                            integral: res.data.data.integral,
                            account: res.data.data.account,
                            max_num: res.data.data.user_max_yang,
                        }
                        if(that.userInfo.head_img==''||that.userInfo.head_img==null){
                            that.userInfo.head_img='/static/mob/shop/images/default/touxiang.jpg'
                        }
                        that.usermobile=res.data.data.mobile;
                    }).catch(function(err) {

                    });
                },
                getmyInfo() {
                    var that = this
                    this.http({
                        url: '/api/user/getuserinfo',
                        params: {
                            
                        }
                    }).then(function(res) {
                        console.log(JSON.stringify(res.data.data))
                        that.myInfo = {
                            account: res.data.data.account,
                            max_num:res.data.data.user_max_yang,
                            nickname:res.data.data.nickname,
                        }
                        console.log(that.myInfo.account);
                    }).catch(function(err) {

                    });
                },

                format(time) {
                    return new Date(time * 1000).Format("yyyy/MM/dd")
                },
                getYanglist() {
                    var that = this
                    this.http({
                        method: 'get',
                        url: '/api/yangyang/hyyang_lists',
                        params: {
                            yuid: str
                        }
                    }).then(function(res) {
                        if(res.data.status == 1) {
                            var lists = res.data.data
                            var randomIndex = that.getRandomIndex(lists.length)
                            lists.forEach((item, index) => {
                                if(item.yang_hunger == 1) {
                                    that.isShuicao = false,
                                    that.isstatus = '饥饿'
                                }
                                if(item.yang_sick == 1) {
                                    that.isstatus = '病了'
                                }
                                if(item.yang_sick == 1&&item.yang_hunger == 1) {
                                    that.isstatus = '病饿了'
                                }
                                item.index = randomIndex[index]
                            })
                            that.yangLists = lists
                        }
                    });
                },
                // 帮助
                gethelp() {
                    var that = this
                    this.http({
                        method: 'get',
                        url: '/api/yangyang/zarticle_desc',
                        params: {
                            types: 2
                        }
                    }).then(function(res) {
                        if(res.data.status == 1) {
                            that.help = res.data.data
                        }
                    });
                },
                // 公告
                getnotice() {
                    var that = this
                    this.http({
                        method: 'get',
                        url: '/api/yangyang/zarticle_desc',
                        params: {
                            types: 3
                        }
                    }).then(function(res) {
                        if(res.data.status == 1) {
                            that.notice = res.data.data
                        }
                    });
                },
                // 牧场状态
                getstatus() {
                    var that = this
                    this.http({
                        method: 'get',
                        url: '/api/yangyang/hyyang_status',
                        params: {
                            yuid: str
                        }
                    }).then(function(res) {
                        
                        that.status=res.data.status;
                        // alert(JSON.stringify(that.userInfo));
                        if(res.data.status == 0) {
                          that.toast = {
                                msg: that.userInfo.account+res.data.data,
                                show: true,
                                btns: ['知道啦', '取消']
                            };
                            that.smsinfo=res.data.data;
                        }
                        if(res.data.status==1){
                            that.toast = {
                                msg: that.userInfo.account+res.data.data,
                                show: true,
                                btns: ['知道啦','取消']
                            };
                            that.smsinfo=res.data.data;
                        }
                        if(res.data.status==2){
                            that.toast = {
                                msg: that.userInfo.account+res.data.data,
                                show: true,
                                btns: ['取消', '提醒好友']
                            };
                            that.smsinfo=res.data.data;
                        }
                    });
                },
                wxConfig() {
                    wx.config(wxConfig);
                },
                getRandomIndex(num, length = 20) {
                    return new Array(length)
                        .fill(0)
                        .map((v,i)=>i+1)
                        .sort(()=>0.5 - Math.random())
                        .filter((v,i) => i < num);
                },
                startTimer(timeCount) {
                    var that = this
                    if (!that.timer) {
                        that.timer = setInterval(function() {
                            if (that.yang.count > 0 && that.yang.count <= timeCount) {
                                that.yang.count--;
                            } else {
                                that.endTimer()
                            }
                        }, 1000)
                    }
                },
                endTimer() {
                    clearInterval(this.timer);
                    this.timer = null;
                },
                http(options) {
                    var that = this
                    return new Promise(function(resolve, reject) {
                        axios(options).then(function(res) {
                            if(res.data.msg == '未登录，请先登录') {
                                that.alert = {
                                    msg: res.data.msg,
                                    show: true,
                                    btns: ['知道啦', '前往登录']
                                }
                            } else if(res.data.msg == '药品数量不足') {
                                that.alert = {
                                    msg: res.data.msg,
                                    show: true,
                                    btns: ['知道啦', '前往购买']
                                }
                            } else if(res.data.msg) {
                                // 弹出后端返回的msg提示语
                                that.$toast({
                                    message: res.data.msg
                                });
                            }
                            resolve(res)
                        }).catch(function(err) {
                            reject(err)
                        })
                    })
                },
                btn1Callback() {
                    this.alert.show = false
                },
                btn1_callback() {
                    this.toast.show = false
                },
                btn2Callback() {
                    console.log(this.alert.btns[1])
                    if(this.alert.btns[1] == '前往购买') {
                        this.alert.show = false
                        this.handleYiliao();
                    }
                    if(this.alert.btns[1] == '前往登录'){
                        window.location.href = '/wap/index/login.html'
                    }
                },
                btn2_callback() {
                    console.log(this.toast.btns[1])
                    if(this.toast.btns[1] == '取消') {
                        this.toast.show = false
                        // window.location.href = '/wap/index/login.html'
                    }
                    if(this.toast.btns[1] == '提醒好友'){
                        // 短信提醒好友
                        this.toast.show = false;
                        var that = this
                        this.http({
                            method: 'get',
                            url: '/api/user/send_verify',
                            params: {
                                id: 1 ,
                                param:this.usermobile,
                                type:'sms',
                                content:+'提醒您，'+this.smsinfo,
                                content:"亲爱的主人，您的牧场好友"+that.myInfo.nickname+"("+that.myInfo.account+")来串门了，并留言“快来看看，你的小白"+that.isstatus+"。"
                            }
                        }).then(function(res) {
                            // alert(that.myInfo.account+this.toast.msg);
                            if(res.data.code == 1) {
                                this.toast.show = false;
                            }
                        });
                    }
                },
                
                closeDialog() {
                    this.dialogName = ''
                },
                handleGonggao() {
                    if(this.notice==''){
                        this.dialogName = '';
                        this.$toast({
                            message: '暂无公告'
                        });
                    }else{
                        this.dialogName = 'Gonggao'
                    }
                    
                },
                handleBangzhu() {
                    if(this.help==''){
                        this.dialogName = '';
                        this.$toast({
                            message: '暂无帮助 '
                        });
                    }else{
                        this.dialogName = 'Bangzhu'
                    }
                   
                },
                handleWenzhang() {
                    this.dialogName = 'Wenzhang'
                },
                handleShare() {
                    this.dialogName = 'Share'
                },
                handleRenyang() {
                    window.location.href = '/wapapp/yang/tender_list'
                    // this.dialogName = 'Renyang'
                },
                handleYiliao() {
                    this.dialogName = 'Yiliao'
                },
                handleShangcheng() {
                    window.location.href = '/wapapp/index/index.html'
                    // this.dialogName = 'Shangcheng'
                },
                my_game() {
                    window.location.href = '/wapapp/yang/game.html'
                    // this.dialogName = 'Shangcheng'
                },
                to_index() {
                    window.location.href = '/wapapp/yang/index.html'
                    // this.dialogName = 'Shangcheng'
                },
                to_usercenter() {
                    window.location.href = '/wapapp/usercenter/usercenter.html'
                    // this.dialogName = 'Shangcheng'
                },
                look_more() {
                    window.location.href = '/wapapp/usercenter/systemmessage.html'
                    // this.dialogName = 'Shangcheng'
                },
                // 提醒好友
                remind(){
                    var that=this;
                    
                    
                  if(this.status==0){
                    that.toast = {
                        msg: that.toast.msg,
                        show: true,
                        btns: ['知道啦','取消']
                    }
                  }
                  if(this.status==1){
                    that.toast = {
                        msg: that.toast.msg,
                        show: true,
                        btns: ['知道啦','取消']
                    }
                  }  
                  if(this.status==2){
                    var that = this
                    this.http({
                        method: 'get',
                        url: '/api/user/send_verify',
                        params: {
                            id: 1 ,
                            param:this.usermobile,
                            type:'sms',
                            content:this.toast.msg
                        }
                    }).then(function(res) {

                        if(res.data.code == 1) {
                           
                        }
                    });
                  }  
                },
                chiyao(yid, num) {
                    var that = this
                    this.http({
                        url: '/api/yangyang/take_drug',
                        params: {
                            yid: yid,
                            num: num
                        }
                    }).then(function(res) {
                        if(res.data.status == 1) {
                            that.getYanglist();
                        }
                        
                    }).catch(function(err) {
                        console.log(err)
                    })
                },
                buy(num) {
                    this.http({
                        method: 'post',
                        url: '/api/yangyang/buy_drug',
                        data: {
                            id: 1,
                            num: num
                        }
                    }).then(function(res) {
                        if(res.data.status == 1) {
                            window.location.href = res.data.data
                        }
                        
                    }).catch(function(err) {
                        console.log(err)
                    })
                },
                yangInfo(id) {
                    var that = this
                    this.http({
                        params: {
                            yuid: str,
                            id: id
                        },
                        url: '/api/yangyang/hyyang_info'
                    }).then(function(res) {
                        if(res.data.status == 1) {
                            that.yang = res.data.data;
                            that.dialogName = 'yangInfo'
                        }
                    }).catch(function(err) {
                        console.log(err)
                    });
                }
                
            }

        });
    </script>
</body>

</html>